{% extends '_layouts/layout-pins.html' %}
{% from "banners-1418/components/publish-states.njk" import statusDesc %}
{% set banners = data['banners'] %}
{% set banner = data['banner'] %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a class="govuk-back-link" href="index">Back</a>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Project updates</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
        {{banner.title}}
        </li>
      </ol>
    </div> -->
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        <strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

      <!-- <h1 class="govuk-heading-l ">{{banner.title}}</h1> -->

      <h2 class="govuk-heading-m ">Project update preview</h2>
      <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
        The Secretary of State has granted development consent for this application.
      </p>
        </div>
      </div>
      {% if data['welsh'] == true %}
        <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
          Mae’r Ysgrifennydd Gwladol wedi rhoi caniatâd datblygu ar gyfer y cais hwn.

      </p>
          </div>
        </div>
      {% endif %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
                Author
              </dt>
          <dd class="govuk-summary-list__value">
                Joe Bloggs
              </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
                Date published
              </dt>
          <dd class="govuk-summary-list__value">
            {{banner.dateCreated}}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row" style="border-bottom:0px;">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m govuk-!-margin-top-3">Content</h2>
          </dt>
          <dd class="govuk-summary-list__value">

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit/index">
                Change<span class="govuk-visually-hidden"> title</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row" style="border-bottom:0px;">
            <dt class="govuk-summary-list__key">
                Email to subscribers
              </dt>
            <dd class="govuk-summary-list__value">
              {% if banner.emailSubscribers == "No" %}
                {{banner.emailSubscribers}}
              {% else %}
                 Yes
                {% endif %}

            </dd>
            <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/index">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd> -->
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                English
              </dt>
            <dd class="govuk-summary-list__value">
              {{banner.content}}
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/index">
                  Change<span class="govuk-visually-hidden"> content</span>
                </a>
              </dd> -->
          </div>

          {% if data['welsh'] == true %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Welsh
              </dt>
              <dd class="govuk-summary-list__value">
                {{banner.contentWelsh}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="index">
                  Change<span class="govuk-visually-hidden"> content</span>
                </a>
              </dd>
            </div>
          {% endif %}

            <div class="govuk-summary-list__row" {% if banner.status == "Scheduled" %}style="border-bottom:0px;"  {% endif %}>
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="govuk-tag {{banner.bannerColourClass}}" id="list-convictions-status">

              {% if data['changeSummary']%}  {{statusDesc(banner.status) }} {% else %}  {{banner.status}} {% endif %}



                </span>

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/status">
                  Change<span class="govuk-visually-hidden"> status</span>
                </a>
              </dd>
            </div>
            {% if banner.status == "Scheduled" %}
            <div class="govuk-summary-list__row" >
              <dt class="govuk-summary-list__key">
                Schedule time
              </dt>
              <dd class="govuk-summary-list__value">
                <!-- {{  data['item-end-time-hr'] }} -->
                11:59pm on Tuesday 14 June

              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            {% endif %}


        </dl>
        {% if data['changeSummary'] and banner.status == 'Published'  %}
        <div class="govuk-button-group">
          <form method="post" action="/banners-1418/summary-routing">
            <button class="govuk-button" data-module="govuk-button">
                Publish
               </button>
          </form>
              {% endif %}
              {% if data['changeSummary'] and banner.status != 'Published'  %}
              <div class="govuk-button-group">
                <form method="post" action="/banners-1418/summary-routing">
                  <button class="govuk-button" data-module="govuk-button">
                      Save and continue
                     </button>
                </form>
                    {% endif %}
  {% if banner.status !== 'Published'  %}
          <form method="post" action="edit/delete">
            <button class="govuk-button govuk-button--warning" data-module="govuk-button">
                Delete
              </button>
          </form>
        </div>
        {% endif %}

      </div>

    </div>
  </div>

{% endblock %}
