
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Address | add a representation
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div>
    <span class="govuk-caption-l">Add a representation</span>

  <h1 class="govuk-heading-l ">Address details</h1>
<form method="post" action="preferred-contact">
  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-line-1">
        Address line 1
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-line-2">
        Address line 2 (optional)
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-town">
        Town or city
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="address-town" name="address-town" type="text" autocomplete="address-level2">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-county">
        County (optional)
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="address-county" name="address-county" type="text">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
    </div>
  </fieldset>


  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
