
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Contact details | add a representation
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Representation added
              </h1>

            </div>
            <p class="govuk-body">The representation was added and is awaiting review.</p>
          <p class="govuk-body"><a class="govuk-link" href="../index">Return to list of representations</a></p>
          </div>
        </div>
</div>






{% endblock %}
