
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Preferred contact method | add a representation
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div>
    <span class="govuk-caption-l">Add a representation</span>

  <h2 class="govuk-heading-l ">Preferred contact method</h2>
<form method="post" action="type"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method" name="representation[preferredContact]" type="radio" value="Email">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method">
          Email
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method-2" name="representation[preferredContact]" type="radio" value="Post">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method-2">
          Post
        </label>
      </div>
</fieldset>
</div>
  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
