
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}


{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-overview' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters  project-overview">

      {% if data.project01.publishedstatus == "Published" %}
        {% if data.project01.itemstatus == "Changed" %}
        <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">Unpublished changes have been made. </h2>
            <a href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
          </div>

        </div>
        {%endif%}
        {% if data.project01.itemstatus == 'DePub' %}
          <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">Unpublished changes have been made. </h2>
            <a href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
          </div>

        </div>
        {%endif%}
       {%endif%}

    <h2 class="govuk-heading-m"> Overview</h2>
    
   
  <!--   <h2 class="govuk-heading-m"> Latest Key Dates</h2>
    <ul class="govuk-body">
      <li>Anticipated submission date: {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-published'] }} </li>
      <li>Anticipated submission internal:  {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-day'] }} / 
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-month'] }} / 
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-year'] }} </li>
    </ul>

    <p class="govuk-body"><a href="../project-key-dates/index?project={{projectNo}}"> Update key dates</a> </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" /> -->

    <table class="govuk-table govuk-!-margin-bottom-3">
      <!-- <h2 class="govuk-heading-m">Summary information</h2> -->

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Case reference</th>
          <td class="govuk-table__cell">{{ data[projectNo]['projectdetails']['project-case-number'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Application information</th>
          <td class="govuk-table__cell">{{ data[projectNo]['applicantdetails']['app-name'] }} <br/> {{ data[projectNo]['applicantdetails']['app-email'] }} <br/> {{ data[projectNo]['applicantdetails']['app-phone'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Applicant website</th>
          <td class="govuk-table__cell">{{ data[projectNo]['applicantdetails']['app-website'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Project email</th>
          <td class="govuk-table__cell">{{ data[projectNo]['projectdetails']['project-email'] }}</td>
        </tr>

       
      </tbody>
    </table>

    <p class="govuk-body"><a href="../project-information/index?project={{projectNo}}"> Update project infomation</a> </p>

      <!-- <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" /> -->

    <h2 class="govuk-heading-m govuk-!-padding-top-7"> Project Team </h2>

     <dl class="govuk-summary-list govuk-!-margin-bottom-3">

    {% set teamexists = "" %}

          {%  for team, members in data.project01.teammembers.members %}
          <!-- loop through all the team members-->

          {%if members['role']%}

          {% set teamexists = "yes" %}
          <!-- only show members who have a role assigned-->

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ members ['role'] }}</dt>
            <dd class="govuk-summary-list__value">
              {{ members ['first-name'] }} {{ members ['last-name'] }}
            </dd>
           
          </div> -->


              <!-- only show case manager and nsip officer-->
              {%if (members['role'] == 'Case Manager') or (members['role'] == 'NSIP Officer') %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">{{ members ['role'] }}</dt>
                  <dd class="govuk-summary-list__value">
                    {{ members ['first-name'] }} {{ members ['last-name'] }}
                  </dd>
                 
                </div>
              {%endif%}


        {%endif%}
        {% endfor %}

        </dl>

         {% if not teamexists  %}
         <p class="govuk-body">No project members have been added yet</p>
         
        {%endif%}

        <p class="govuk-body govuk-!-margin-bottom-8"><a href="../project-team/index?project={{projectNo}}"> Update team infomation</a> </p>

        

    <div class="publish ">

        <h3 class="govuk-heading-m govuk-!-padding-top-0 govuk-!-display-inline-block"> Project page</h3>

         {% if data.project01.publishedstatus == "Published" %}
        <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish " > Published</strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish"> Unpublished</strong>
        {% endif %}

      <br/><br/>

        <a class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" href="publish/index?project={{projectNo}}">
          Preview and republish
        </a>

         <p class="govuk-body govuk-!-display-inline-block govuk-!-padding-left-4 govuk-!-padding-top-1" ><a href="../project-overview/depublish/index.html?project=project01" style="color: #d4351c">Unpublish project</a></p> 

      </div>



     
  </div>
</div>




{% endblock %}
