
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}


{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-overview' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters  project-overview">

      {% if data.project01.publishedstatus == "Published" %}
        {% if data.project01.itemstatus == "Changed" %}
        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
             Unpublished changes have been made</p>
              <p><a class="govuk-notification-banner__link" href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
            </p>
          </div>
        </div>
        {%endif%}
        {% if data.project01.itemstatus == 'DePub' %}
         <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
             Unpublished changes have been made</p>
              <p><a class="govuk-notification-banner__link" href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
            </p>
          </div>
        </div>
        {%endif%}
       {%endif%}

    <h2 class="govuk-heading-m"> Project page</h2>
    
    {% if data.project01.publishedstatus == "Published" %}
    <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish" > Published</strong>
    {% else %}
    <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish"> Unpublished</strong>
    {% endif %}

     <p class="govuk-body">
      <a href="publish/index.html?project={{projectNo}}">Preview and republish project.</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />


    <h2 class="govuk-heading-m"> Latest Key Dates</h2>
    <ul class="govuk-body">
      <li>Anticipated submission date: {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-published'] }} </li>
      <li>Anticipated submission internal:  {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-day'] }} / 
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-month'] }} / 
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-year'] }} </li>
    </ul>

    <p class="govuk-body"><a href="../project-key-dates/index?project={{projectNo}}"> Update key dates</a> </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <table class="govuk-table">
      <h2 class="govuk-heading-m">Summary information</h2>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Case reference</th>
          <td class="govuk-table__cell">{{ data[projectNo]['projectdetails']['project-case-number'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Application information</th>
          <td class="govuk-table__cell">{{ data[projectNo]['applicantdetails']['app-name'] }} <br/> {{ data[projectNo]['applicantdetails']['app-email'] }} <br/> {{ data[projectNo]['applicantdetails']['app-phone'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Applicant website</th>
          <td class="govuk-table__cell">{{ data[projectNo]['applicantdetails']['app-website'] }}</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Project email</th>
          <td class="govuk-table__cell">{{ data[projectNo]['projectdetails']['project-email'] }}</td>
        </tr>

       
      </tbody>
    </table>

    <p class="govuk-body"><a href="../project-information/index?project={{projectNo}}"> Update project infomation</a> </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <h2 class="govuk-heading-m"> Project Team </h2>

     <dl class="govuk-summary-list govuk-!-padding-top-3">

    {% set teamexists = "" %}

          {%  for team, members in data.project01.teammembers.members %}
          <!-- loop through all the team members-->

          {%if members['role']%}

          {% set teamexists = "yes" %}
          <!-- only show members who have a role assigned-->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ members ['role'] }}</dt>
            <dd class="govuk-summary-list__value">
              {{ members ['first-name'] }} {{ members ['last-name'] }}
            </dd>
           
          </div>

          {%endif%}


        {% endfor %}

        </dl>

         {% if not teamexists  %}
         <p class="govuk-body">No project members have been added yet</p>
         
        {%endif%}

        <p class="govuk-body"><a href="../project-team/index?project={{projectNo}}"> Update team infomation</a> </p>

        

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />



     
  </div>
</div>




{% endblock %}
