
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}



{% block content %}

<div class="govuk-grid-row project-information">

  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-information' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

      <div class="publish-error">
       
      {% if data.project01.publishedstatus == "Published" %}
        {% if data.project01.itemstatus == "Changed" %}
        <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s govuk-!-display-inline-block">Unpublished changes have been made. </h2>
            <a href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
          </div>

        </div>
        {%endif%}
        {% if data.project01.itemstatus == 'DePub' %}
          <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s  govuk-!-display-inline-block">Unpublished changes have been made. </h2>
            <a href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
          </div>

        </div>
        {%endif%}
       {%endif%}

  
    </div>

    <h2 class="govuk-heading-m"> Project information</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
              Case reference number
        </dt>
          <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-case-number'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
      </div>

       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
              Sector
        </dt>
          <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-sector'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
              Subsector
        </dt>
          <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-subsector'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
           
          </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
              Case Stage
        </dt>
          <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-stage'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
           <a class="govuk-link" href="../new-project/stage?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
          </dd>
      </div>
    </dl>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Project Details
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-name'] }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/name-and-description?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project description
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-description'] }}
              </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/name-and-description?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> descrption</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['projectdetails']['project-email'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/project-email?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> email</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project location
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['projectdetails']['project-location'] }}</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/geographical-info?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> location</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grid references
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['projectdetails']['project-grid-easting'] }}</p>
              <p class="govuk-body">{{ data[projectNo]['projectdetails']['project-grid-northing'] }}</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/geographical-info?project={{projectNo}}">
                Change<span class="govuk-visually-hidden"> grid references</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Region(s)
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['projectdetails']['project-region'] }}</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/regions?project={{projectNo}}">
                Change<span class="govuk-visually-hidden">region</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Map zoom level
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['projectdetails']['project-zoom'] }}</p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../new-project/map-zoom?project={{projectNo}}">
                Change<span class="govuk-visually-hidden">map zoom</span>
              </a>
            </dd>
          </div>

        </dl>
      </div>
</div>
<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h2 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Applicant details
     </span>
   </h2>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation name
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data[projectNo]['applicantdetails']['app-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> org name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact name
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data[projectNo]['applicantdetails']['app-contact'] }}    </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> contact name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['applicantdetails']['app-address'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Website
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['applicantdetails']['app-website'] }} </p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> website</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['applicantdetails']['app-email'] }} </p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> email</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{ data[projectNo]['applicantdetails']['app-phone'] }} </p>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">phone</span>
              </a>
            </dd>
          </div>

        </dl>

  
      </div>
        </div>
      </div>



 

  </div>
</div>




{% endblock %}
