
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}
{% set representation = data['representation'] %}

{% block pageTitle %}
Contact details | add a representation
{% endblock %}

{% block content %}

<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../summary">{{data['representation']['firstName']}} {{data['representation']['lastName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
    Edit representation
        </li>
      </ol>
    </div>
    <h2 class="govuk-heading-l no-margin">  {{data['representation']['firstName']}} {{data['representation']['lastName']}}</h2>
    <span class="govuk-tag {{representation.representationColourClass}} govuk-!-margin-bottom-7" id="list-convictions-status">{{data['representation']['status']}}</span>
  <h2 class="govuk-heading-m ">Agent contact details</h2>
<form method="post" action="../../summary">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Organisation name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfOrganisationName]" type="text" value="{{data['representation']['onBehalfOrganisationName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      First name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfFirstName]" type="text" value="{{data['representation']['onBehalfFirstlName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Last name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfLastName]" type="text" value="{{data['representation']['onBehalfLastlName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    Job title
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBahalfJobTitle]" type="text" value="{{data['representation']['jobTitle']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Email address
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfEmailAddress]" type="text" value="{{data['representation']['onBehalfEmailAddress']}}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Telephone number
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfTelNumber]" type="text" value="{{data['representation']['onBehalfTelNumber']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    Job title
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[onBehalfJobTitle]" type="text" value="{{data['representation']['onBehalfJobTitle']}}">
  </div>


  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
