// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";


@import "pins-header";
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//project info pages
.govuk-grid-column-full-width.project {
    padding: 20px 15px 0;
}

.project-information {
  .govuk-accordion__section-content > :last-child {
    margin-bottom: 0!important;
  }

  .govuk-summary-list__row:last-child {
    border-bottom: 0;
  }
}

//Amend to make the header full page width
.bo-width {
  max-width: 100%;

  .bo-header {
    padding: 40px 0 20px;
    margin: 0;
    background-color: govuk-colour("light-grey");

    h1 {
      color: govuk-colour("black");
    }
  }
}


// styling the vertical nav

ul.sidenav {
  li {
    margin-bottom: 20px;
  }

  .active {
    background: govuk-colour("light-grey");
    padding: 0.7em;
    margin-left: calc(-0.7em - 6px);
    border-left: 6px solid $govuk-brand-colour;
    font-weight: 700;
  }
}




//////  PROTOTYPE LANDING PAGES  //////
.sprint-summary {
  background-color:  govuk-colour("light-grey");
  padding: 15px;
  border: 1px solid  govuk-colour("dark-grey");
  margin-bottom: 20px;

  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.status {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: 10px;

    .govuk-tag {
      width: 120px;
      text-align: center;
      margin-right: 5px;
    }
  }
}

//////  DOCUMENT LIBRARY  //////
.equal-height {
  display: table;
  width: 100%;


  .govuk-grid-column-two-thirds,
  .govuk-grid-column-one-third {
    display: table-cell;
    float: none;
    background-color: govuk-colour("light-grey");
  }

  > .govuk-grid-column-one-third {
      border-left: 15px solid white;
    }
}

span.publish {
  float: right;
  margin-top: 18px;
}

.bo-documents{

  //change these to fluid layout later
  padding: 15px;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 10px;

      &:last {
        margin-bottom: 0;
      }
    }
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.button-link button  {
  border: none;
  padding: 0;
  font-size: 19px;
  text-decoration: underline;
  color: $govuk-link-colour;
  background: none;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;

  &:hover {
    cursor: pointer;
    color: $govuk-link-hover-colour;
  }
}

.projectDocs {
  border-top: 1px solid #b1b4b6;

  thead, label {
    font-size: 16px;
  }

  .govuk-checkboxes__label:before {
    width: 30px;
    height: 30px;
  }

  .govuk-checkboxes__label:after {
    top: 7px;
    left: 4px;
  }

}

.views {
  background-color: #f3f2f1;
    padding: 9px 9px 32px;
}

.doc-details {
  // color: govuk-colour("dark-grey");
  margin-top: 5px;
  display: block;
  font-size: 16px;
}


//fixing select styles
.select {
  float: right;

  .govuk-form-group,
  .govuk-label {
    display: inline-block;
  }
}


.folders {
  ul {
    list-style: none;
  }
}

.folder-structure {

  .govuk-details {
    margin-bottom: 0;
  }

  .govuk-details__summary {
    padding-left: 0;

    &:before {
      left: 50px;
      top: -10px;
    }
  }

.govuk-checkboxes__label:before {
    width: 35px;
    height: 35px;
}

  .govuk-details__text{
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 30px;
    border-left: none;
  }
}

.documents {
  div {
    display: initial;
  }

  td, .govuk-error-message {
    font-size: 16px;
  }

}

.govuk-file-upload {
  background-color: #f3f2f1;
  border: 1px solid #000;
  text-decoration: none;
  margin-left: 0;
  border-radius: 5px;
}


// Dirty validation hack
.govuk-error-summary,
.govuk-error-message,
.govuk-error-summary__list li a{
  display: none;
}

//documents

.doc-actions {
  list-style-type: none;
  margin:0;
  padding:0;

  li {
    display: inline-block;
    margin-right: 10px;

    button {
      margin-bottom: 0;
    }
  }

}

//Publishing
.results-pp {
  float: right;
margin-bottom: 0;
padding-bottom: 0;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.deleteBtn {
  border: 0;
  background: none;
  color: #d4351c;
  text-decoration: underline;
  font-size: 14px;
  margin: 0;
  display: block;
}



//////  PROJECT PAGES  //////
.govuk-grid-column-one-half .bo-cases {
  border: 1px solid  $govuk-border-colour;
  border-top: 4px solid $govuk-brand-colour;
  padding: 15px;
}

.expand-projects {
  margin-bottom: 0;

  .govuk-details__text {
    padding-left: 0px;
    padding-top: 0;
    border-left: none;

    ul {
      padding-left: 25px;
      list-style-type: none;
    }
  }
}



//////  EXAM TT  //////

.examtimetable {
  h2 {
    display: inline-block;
  }

  .govuk-tag {
    margin-left: 10px;
  display: inline;
  float: right;
  margin-top: 5px;
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }

  h4 {
    display: inline-block;
    width: 75%;

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  .govuk-details__text {
    // padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-left: none;
    padding-top: 20px;

    > :last-child {
      margin-bottom: 40px;
    }
  }

  button {
    margin-bottom: 10px;
  }

  .edit {
    clear: both;
    float: right;
    display: block;


  }

  .publish-error {
    div:first-child {
      display:block;
    }

    div {
      display: none;
    }
  }

  .date-sep {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    margin-left: -10px;
  }

  button.delete {
    border: 0;
    background: none;
    color: #d4351c;
    text-decoration: underline;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  &.publish {
    .govuk-summary-list__actions {
      display: none;
    }

    .edit {
      display: none;
    }
  }

  .govuk-details {
    margin-bottom: 0;
  }

  .govuk-summary-list__row:last-child {
    border: none;
  }



  .govuk-form-group {
    margin-top: 50px;

      .govuk-form-group {
        margin-top: 0;
      }
  }
}









/////////////
//GOV UK PAGINATION STYLES NOT IN THIS VERSION OF PROTOTYPE - REMOVE ONCE UPGRADED


@include govuk-exports("govuk/component/pagination") {
  // Flexbox enhancement for small screen visual design
  // Falls back to a float: left layout on non-flex browsers
  .govuk-pagination {
    @include govuk-responsive-margin(6, "bottom");
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    @include govuk-media-query($from: tablet) {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-align: start;
          align-items: flex-start;
    }
  }

  .govuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .govuk-pagination__item,
  .govuk-pagination__next,
  .govuk-pagination__prev {
    @include govuk-font(19);
    box-sizing: border-box;
    position: relative;
    min-width: 45px;
    min-height: 45px;
    padding: govuk-spacing(2) govuk-spacing(3);
    float: left; // Float is ignored if flex is active for prev/next links

    &:hover {
      background-color: govuk-colour("light-grey", $legacy: "grey-4");
    }
  }

  .govuk-pagination__item {
    // Hide items on small screens except the prev/next items,
    // non-link items and the first and last items
    display: none;

    // Center align pagination links in their parent list item so that they
    // visually sit in the middle of their touch area
    text-align: center;

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  .govuk-pagination__prev,
  .govuk-pagination__next {
    @include govuk-typography-weight-bold;

    // Use flex to get around a whitespace issue between the arrow svg and the link text
    // without having to rely on whitespace control from backend tooling
    .govuk-pagination__link {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
    }
  }

  .govuk-pagination__prev {
    padding-left: 0;
  }

  .govuk-pagination__next {
    padding-right: 0;
  }

  // Only show first, last and non-link items on mobile
  .govuk-pagination__item--current,
  .govuk-pagination__item--ellipses,
  .govuk-pagination__item:first-child,
  .govuk-pagination__item:last-child {
    display: block;
  }

  .govuk-pagination__item--current {
    @include govuk-typography-weight-bold;
    outline: 1px solid transparent;
    background-color: $govuk-link-colour;

    &:hover {
      background-color: $govuk-link-colour;
    }

    .govuk-pagination__link {
      @include govuk-link-style-inverse;
    }
  }

  .govuk-pagination__item--ellipses {
    @include govuk-typography-weight-bold;
    color: $govuk-secondary-text-colour;

    // Remove hover state for ellipsis items as they don't have links within them
    &:hover {
      background-color: transparent;
    }
  }

  .govuk-pagination__link {
    display: block;
    min-width: govuk-spacing(3);

    // Increase the touch area for the link to the parent element.
    @media screen {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    // Add link hover decoration to prev/next text if no label present on prev/next only mode
    // We do this so that we have a hover state in all possible instances
    &:hover,
    &:active {
      .govuk-pagination__link-title--decorated {
        @include govuk-link-decoration;
      }

      .govuk-pagination__link-label,
      .govuk-pagination__link-title--decorated {
        @include govuk-link-hover-decoration;
      }
    }

    &:focus {
      .govuk-pagination__icon {
        color: $govuk-focus-text-colour;
      }

      .govuk-pagination__link-label {
        text-decoration: none;
      }

      .govuk-pagination__link-title--decorated {
        text-decoration: none;
      }
    }
  }

  .govuk-pagination__link-label {
    @include govuk-font($size: 19, $weight: "regular");
    @include govuk-link-decoration;
    display: inline-block;
    padding-left: govuk-spacing(6);
  }

  .govuk-pagination__icon {
    // Set size using rems to make the icon scale with text if user resizes text in their browser
    width: govuk-px-to-rem(15px);
    height: govuk-px-to-rem(13px);
    color: $govuk-secondary-text-colour;
    fill: currentcolor;
    forced-color-adjust: auto;
  }

  .govuk-pagination__icon--prev {
    margin-right: govuk-spacing(3);
  }

  .govuk-pagination__icon--next {
    margin-left: govuk-spacing(3);
  }

  // Block mode - position previous and next links above and below numbers
  .govuk-pagination--block {
    display: block;

    .govuk-pagination__item {
      padding: govuk-spacing(3);
      float: none;
    }

    .govuk-pagination__next,
    .govuk-pagination__prev {
      padding-left: 0;
      float: none;
    }

    .govuk-pagination__next {
      padding-right: govuk-spacing(3);

      .govuk-pagination__icon {
        margin-left: 0;
      }
    }

    // Only apply a border between prev and next if both are present
    .govuk-pagination__prev + .govuk-pagination__next {
      border-top: 1px solid $govuk-border-colour;
    }

    // Reset both these elements to their inline default, both to ensure that the focus state
    // for block mode "shrink wraps" text as expected
    .govuk-pagination__link,
    .govuk-pagination__link-title {
      display: inline;
    }

    // Set the after pseudo element to a block which makes the title visually display
    // as block level whilst programmatically being inline
    // We do this to get around an NVDA quirk where adjacent block level
    // elements are always read out separately
    .govuk-pagination__link-title:after {
      content: "";
      display: block;
    }

    .govuk-pagination__link {
      text-align: left;

      &:focus {
        // apply focus styling to the label within the link as if it were being focused
        // to get around a display issue with a focusable inline element containing a mixture
        // of inline and inline-block level elements
        .govuk-pagination__link-label {
          @include govuk-focused-text;
        }
      }

      &:not(:focus) {
        text-decoration: none;
      }
    }

    .govuk-pagination__icon {
      margin-right: govuk-spacing(2);
    }
  }
}
