{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Delete timetable item</h1>

    <p>Check item before deleting</p>

      <form autocomplete="off" class="form" action="submit?project={{projectNo}}&item[]={{itemNo}}" method="post" onsubmit="return validateForm(event)">


      <div class="govuk-form-group">

        <h2 class="govuk-heading-m">Item details</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Item type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-type'] }}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Item name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-name'] }}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End time and date
                    </dt>
                    <dd class="govuk-summary-list__value">

                          {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-hr'] }}{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-12'] }}

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-day'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-month'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-year'] }}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Description
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-description'] }}
                    </dd>

                  </div>
                </dl>

                {% if data.project01.examtimetable['timetable-status']%}
                <input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-status]}}" id="project-status" type="text" value="DeletedPub">
                {%else%}
                <input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-status]}}" id="project-status" type="text" value="Deleted">
                {%endif%}


                <button class="govuk-button govuk-button--warning" data-module="govuk-button" >
                  Delete item
                </button>

    </form>
  </div>
</div>

{% endblock %}
