
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-key-dates' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters key-dates">
     {% if data.project01.keydates.publishedstatus == "Published" %}
        {% if data.project01.keydates.itemstatus == "Changed" %}
        <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
             Unpublished changes have been made</p>
              <p><a class="govuk-notification-banner__link" href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
            </p>
          </div>
        </div>
        {%endif%}
        {% if data.project01.keydates.itemstatus == 'DePub' %}
         <div class="govuk-notification-banner" role="region"
          aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
             Unpublished changes have been made</p>
              <p><a class="govuk-notification-banner__link" href="../project-overview/publish/index?project={{projectNo}}">Republish the project</a> for changes to be applied.
            </p>
          </div>
        </div>
        {%endif%}
       {%endif%}

    <h2 class="govuk-heading-m">Key Dates</h2>
    {% if data.project01.publishedstatus == "Published" %}

      {% if data.project01.keydates['publishedstatus']%}
      <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish" > Published</strong>
      {% else %}
      <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish"> Unpublished</strong>
      {% endif %}

       {% else %}
       <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0 govuk-tag-publish"> Unpublished</strong>
    {% endif %}

    <p class="govuk-body">
      Provide details on upcoming dates and deadlines in this project.
    </p>


     <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Pre-application
            </span>
          </h3>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <span class="edit govuk-body"> <a href="edit/preapplication?project={{projectNo}}">Manage dates</a> </span>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              PINS first notified of the project
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['first-notified-day'] }}/
              {{ data[projectNo]['keydates']['preapplication']['first-notified-month'] }}/
              {{ data[projectNo]['keydates']['preapplication']['first-notified-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project published on website
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['published-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['published-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['published-year'] }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Anticipated submission date internal
              <span>Submission date - predicted by pins </span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Anticipated submission date published
              <span>Submission date - provided by Applicant </span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['anticipated-submission-published'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screening opinion sought
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['screening-sought-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['screening-sought-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['screening-sought-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Screening opinion issued
               <span>Screening opinion issued by PINS </span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['screening-issued-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['screening-issued-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['screening-issued-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Scoping opinion sought
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['scoping-sought-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['scoping-sought-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['scoping-sought-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Scoping opinion issued
               <span>Scoping opinion issued by PINS </span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['scoping-issued-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['scoping-issued-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['scoping-issued-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Section 46 Notification
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['section46-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['section46-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['section46-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application submitted (Section 55)  <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Date the application was submitted</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['section55-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['section55-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['section55-year'] }}
            </dd>
          </div>

        </dl>
      </div>
</div>

<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Acceptance
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

   <span class="edit govuk-body"> <a href="edit/acceptance?project={{projectNo}}">Manage dates</a> </span>

      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline for acceptance decision <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Deadline for acceptance decision</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['deadline-decision-day'] }}/{{ data[projectNo]['keydates']['acceptance']['deadline-decision-month'] }}/{{ data[projectNo]['keydates']['acceptance']['deadline-decision-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of acceptance <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Date application if formally accepted by PINS</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['acceptance-day'] }}/{{ data[projectNo]['keydates']['acceptance']['acceptance-month'] }}/{{ data[projectNo]['keydates']['acceptance']['acceptance-year'] }}
            </dd>
          </div>


           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of non-acceptance <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['non-acceptance-day'] }}/{{ data[projectNo]['keydates']['acceptance']['non-acceptance-month'] }}/{{ data[projectNo]['keydates']['acceptance']['non-acceptance-year'] }}
            </dd>
          </div>


        </dl>
</div>
</div>





<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Pre-examination
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Examination
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Recommendation
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Decision
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Post-decision
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Withdrawel
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Non-stage dates
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>

</div>





  </div>
</div>




{% endblock %}
