
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}
{% set representations = data['interestedParties'] %}
{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Project updates</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
       Create a project update
        </li>
      </ol>
    </div>
    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-l ">Create a project update</h2>
 




  
    <div class="govuk-form-group">
      <label class="govuk-label  govuk-!-font-weight-bold" for="sort">
        Template
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published">Secretary of state made a correction order</option>
        <option value="updated" selected>Select a template</option>
        <option value="views">Secretary of stated granted development consent</option>
        <option value="comments">Decision made by secretary of state</option>
      </select>
    </div>
    <form action="index-with-template" method="post">
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Apply template
    </button>
</form>
<form action="status" method="post">

<div class="govuk-form-group govuk-!-margin-top-1">
  <label class="govuk-label govuk-!-font-weight-bold" for="three-quarters">
    Internal title
  </label>
  <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="banner[title]" type="text">
</div>
    <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="more-detail">
    Content
  </label>
  <div contenteditable="true" class="govuk-textarea" name="representation[representationRedacted]" style="height:300px;">

</div></div>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Email to subscribers?
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="email-yes" name="banner[emailSubscribers]" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="email-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="email-no" name="banner[emailSubscribers]" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="email-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
  </div>
  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
  Save and continue
  </button>
        </form>
</div>
</div>
</div>



{% endblock %}


{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}
