
{% extends '_layouts/layout-pins.html' %}
{% set representation = data['representation'] %}

{% block pageTitle %}
Contact details | add a representation
{% endblock %}

{% block content %}

<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../summary">{{data['representation']['firstName']}} {{data['representation']['lastName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
    Edit representation
        </li>
      </ol>
    </div>
    <h2 class="govuk-heading-l no-margin">  {{data['representation']['firstName']}} {{data['representation']['lastName']}}</h2>
    <span class="govuk-tag {{representation.representationColourClass}} govuk-!-margin-bottom-7" id="list-convictions-status">{{data['representation']['status']}}</span>
    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

  <h2 class="govuk-heading-m ">Contact details</h2>
<form method="post" action="../summary">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Organisation name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[organisationName]" type="text" value="{{data['representation']['organisationName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      First name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[firstName]" type="text" value="{{data['representation']['firstlName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Last name
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[lastName]" type="text" value="{{data['representation']['lastlName']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    Job title
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[jobTitle]" type="text" value="{{data['representation']['jobTitle']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Email address
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[emailAddress]" type="text" value="{{data['representation']['emailAddress']}}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Telephone number
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[telNumber]" type="text" value="{{data['representation']['telNumber']}}">
  </div>
  


  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
