
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}
{% set representation = data['representation'] %}

{% block pageTitle %}
Preferred contact method | add a representation
{% endblock %}

{% block content %}

<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../summary">{{data['representation']['firstName']}} {{data['representation']['lastName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
    Edit representation
        </li>
      </ol>
    </div>
    <h2 class="govuk-heading-l no-margin">   {{data['representation']['firstName']}} {{data['representation']['lastName']}}</h2>
    <span class="govuk-tag {{representation.representationColourClass}} govuk-!-margin-bottom-7" id="list-convictions-status">{{data['representation']['status']}}</span>
  <h2 class="govuk-heading-m ">Is the person under 18?</h2>
<form method="post" action="../summary"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="over-18-yes" name="representation[over18]" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="over-18-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="over-18-no" name="representation[over18]" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="over-18-no">
          No
        </label>
      </div>
</fieldset>
</div>
  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
