{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}


{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row examtimetable">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#item-type" id="project-name">You must enter an item type</a>
          </li>

        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-l">Check your answers</h1>

      <form autocomplete="off" class="form" action="submit?project={{projectNo}}&item[]={{itemNo}}" method="post" onsubmit="return validateForm(event)">

        <!-- Show diff views for each item type. Refactor in future there's probs a better way to do this-->

        <!--- DEADLINE --->
        {%if data[projectNo]['examtimetable']['items'][itemNo]['item-type'] == 'Deadline'%}

      <div class="govuk-form-group">
                <h2 class="govuk-heading-m">Item details</h2>
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Item type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-type'] }}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Item name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-name'] }}
                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End date
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-day'] }}/{{data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-month'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-year'] }}
                            &nbsp;

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-hr'] }}

                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End time
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-hr'] }}

                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Start date(optional)
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-day'] }}/{{data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-month'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-year'] }}

                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Start time(optional)
                    </dt>
                    <dd class="govuk-summary-list__value">

                        {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-hr'] }}

                    </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Description
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data[projectNo]['examtimetable']['items'][itemNo]['item-description'] }}
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">

                    <dd class="govuk-summary-list__value">
                    </dd>

                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="item-deadline?project={{projectNo}}&item[]={{itemNo}}">
                        Change item
                      </a>
                    </dd>
                  </div>
                </dl>
                    {%endif%}

                    <!--- SITE VISIT (ACCOMPANIED) --->
                    {%if data[projectNo]['examtimetable']['items'][itemNo]['item-type'] == 'Site Visit (Accompanied)'%}

                  <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Item details</h2>
                            <dl class="govuk-summary-list ">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Item type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {{ data[projectNo]['examtimetable']['items'][itemNo]['item-type'] }}
                                </dd>

                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Item name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {{ data[projectNo]['examtimetable']['items'][itemNo]['item-name'] }}
                                </dd>

                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Date
                                </dt>
                                <dd class="govuk-summary-list__value">

                                    {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-day'] }}/{{data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-month'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-year'] }}

                                </dd>

                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Start time and end time (optional)
                                </dt>
                                <dd class="govuk-summary-list__value">

                                    {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-hr'] }}
                                        &nbsp;

                                    {{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-hr'] }}

                                </dd>

                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Description
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {{ data[projectNo]['examtimetable']['items'][itemNo]['item-description'] }}
                                </dd>

                              </div>
                              <div class="govuk-summary-list__row">

                                <dd class="govuk-summary-list__value">
                                </dd>

                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="item-deadline?project={{projectNo}}&item[]={{itemNo}}">
                                    Change item
                                  </a>
                                </dd>
                              </div>
                            </dl>
                                {%endif%}

                                <!--- ISSUE SPECIFIC HEARING --->
                                {%if data[projectNo]['examtimetable']['items'][itemNo]['item-type'] == 'Issue Specific Hearing'%}

                              <div class="govuk-form-group">
                                        <h2 class="govuk-heading-m">Item details</h2>
                                        <dl class="govuk-summary-list">
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Item type
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              {{ data[projectNo]['examtimetable']['items'][itemNo]['item-type'] }}
                                            </dd>

                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                            Item name
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              {{ data[projectNo]['examtimetable']['items'][itemNo]['item-name'] }}
                                            </dd>

                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                            Date
                                            </dt>
                                            <dd class="govuk-summary-list__value">

                                                {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-day'] }}/{{data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-month'] }}/{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-date-year'] }}

                                            </dd>

                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Start time (optional)
                                            </dt>
                                            <dd class="govuk-summary-list__value">

                                                {{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-min'] }}:{{ data[projectNo]['examtimetable']['items'][itemNo]['item-start-time-hr'] }}


                                            </dd>

                                          </div>
                                          <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                              Description
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                              {{ data[projectNo]['examtimetable']['items'][itemNo]['item-description'] }}
                                            </dd>

                                          </div>
                                          <div class="govuk-summary-list__row">

                                            <dd class="govuk-summary-list__value">
                                            </dd>

                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link" href="item-deadline?project={{projectNo}}&item[]={{itemNo}}">
                                                Change item
                                              </a>
                                            </dd>
                                          </div>
                                        </dl>
                                            {%endif%}


         <input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-status]}}" id="project-statys" type="text" value="Changed">

      <button class="govuk-button" data-module="govuk-button">Save item</button>

    </form>
  </div>
</div>

{% endblock %}
