
{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
Address | add a representation
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../summary">{{data['representation']['firstName']}} {{data['representation']['lastName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Change status
        </li>
      </ol>
    </div> -->

    {% if ( data['depublished'] == "true")  %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">

            You have depublished this representation and it has been removed from the website


        </h3>
        <!-- <p class="govuk-body"></p>{{banner.title}}</p> -->
      <p class="govuk-body govuk-!-margin-top-5"></p>

      <a href="index?depublished=false">Clear notification</a>

    </p>
  </div>
 </div>
      {% endif %}


    <h1 class="govuk-heading-l no-margin">  Why is the representation invalid?</h1>
    <span class="govuk-tag {{data['representation']['representationColourClass']}} govuk-!-margin-bottom-7" id="list-convictions-status">{{data['representation']['status']}}</span>

  <form method="post" action="../summary?depublished='false'">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
         Why is the representation invalid?
        </legend> -->
        <div class="govuk-radios" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="referred-to-2" name="representation[invalidReason]" type="radio" value="Duplicate">
            <label class="govuk-label govuk-radios__label" for="referred-to-2">
              Duplicate
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="referred-to-4" name="representation[invalidReason]" type="radio" value="Merged">
            <label class="govuk-label govuk-radios__label" for="referred-to-4">
              Merged
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="referred-to-4" name="representation[invalidReason]" type="radio" value="Not relevant">
            <label class="govuk-label govuk-radios__label" for="referred-to-4">
              Not relevant
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="referred-to-4" name="representation[invalidReason]" type="radio" value="Resubmitted">
            <label class="govuk-label govuk-radios__label" for="referred-to-4">
              Resubmitted
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="referred-to-1" name="representation[invalidReason]" type="radio" value="Test">
            <label class="govuk-label govuk-radios__label" for="referred-to-1">
              Test
            </label>
          </div>

        </div>
      </fieldset>
    </div>

  <div class="govuk-form-group govuk-!-margin-top-7">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
    Notes
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
  Use this space to provide more details
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="representation[referredNotes]" rows="5" aria-describedby="more-detail-hint"></textarea>
  </div>

  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
  Save changes
  </button>
  </form>
</div>
</div>






{% endblock %}
