{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set representations = data['interestedParties'] %}
<!-- Set pagination -->
{%set pagLength = 4%}
{%set count = 0%}
{%set pagCount = 0%}


{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "/relevant-reps-v2/index-with-publishing"
  }) }}
</div>
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



      <span class="govuk-caption-m">Publishing queue</span>
      <h1 class="govuk-heading-l">Sorry, there is a problem</h1>
<p class="govuk-body">
The publishing service is unavailable.  </p>

<p class="govuk-body">
None of your representations have been published. Please try again later. </p>

<p class="govuk-body">
If you continue to have problems with this service, contact xxxxx
</p>


</div>
</div>
{% endblock %}
