
{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-two-thirds key-dates">

   <!--  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary"">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#item-name" id="item-name"">You must enter the item name </a>
          </li>

        </ul>
      </div>
      </div> -->

    <h1 class="govuk-heading-l">Pre-application dates</h1>

    <div class="govuk-inset-text">
      All dates must follow this format: 23 3 2023
    </div>

        <form autocomplete="off" class="form" action="../index?project={{projectNo}}" method="post" >



    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
          PINS first notified of project
      </label>
  <div id="event-name-hint" class="govuk-hint">
      Date Applicant notified PINS of a project
    </div>

      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][first-notified-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['first-notified-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][first-notified-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['first-notified-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][first-notified-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['first-notified-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
          Project published on website
      </label>
       <div id="event-name-hint" class="govuk-hint">
      Date project appeared on website
    </div>

      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][published-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['published-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][published-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['published-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][published-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['published-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>

      <div class="govuk-form-group">

      <label class="govuk-label govuk-label--m" for="project-name">
        Anticipated submission data published
      </label>
       <div id="event-name-hint" class="govuk-hint">
      Date Applicant expects to submit the application. e.g. Q3 2023
    </div>


          <input class="govuk-input govuk-input--width-5 optional" name="{{projectNo}}[keydates][preapplication][anticipated-submission-published]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['anticipated-submission-published'] }}" id="item-start-date-day">


    </div>



    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
         Anticipated submissions date internal
      </label>
       <div id="event-name-hint" class="govuk-hint">
      Date Applicant expects to submit the application. e.g. Q3 2023
    </div>


      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][anticipated-submission-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['anticipated-submission-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][anticipated-submission-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['anticipated-submission-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][anticipated-submission-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['anticipated-submission-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Screening opinion sought
      </label>
       <div id="event-name-hint" class="govuk-hint">
      Date Applicant requests a Screening Opinion
    </div>


      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][screening-sought-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-sought-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][screening-sought-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-sought-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][screening-sought-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-sought-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>





    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Screening opinion issued
      </label>
      <div id="event-name-hint" class="govuk-hint">
      Date PINS issues our Screening Opening
    </div>

      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][screening-issued-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-issued-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][screening-issued-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-issued-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][screening-issued-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['screening-issued-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>



    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Scoping opinion sought
      </label>
       <div id="event-name-hint" class="govuk-hint">
      Date Applicant requests a Scoping Opinion.
    </div>



      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][scoping-sought-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-sought-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][scoping-sought-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-sought-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][scoping-sought-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-sought-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Scoping opinion issued
      </label>

      <div id="event-name-hint" class="govuk-hint">
      Date PINS issues our Scoping Opinion.
    </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][scoping-issued-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-issued-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][scoping-issued-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-issued-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][scoping-issued-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['scoping-issued-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Section 46 notification
      </label>
      <div id="event-name-hint" class="govuk-hint">
      Date Applicant notifies PINS of statutory consultation
    </div>


      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][section46-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section46-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][section46-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section46-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][section46-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section46-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>


    <div class="govuk-form-group date">

      <label class="govuk-label govuk-label--m" for="project-name">
        Date application submitted (Section 55)
      </label>


 <div id="event-name-hint" class="govuk-hint">
      Date the application was submitted
    </div>

      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][section55-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section55-day'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-month">
              Month
            </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2 optional" name="{{projectNo}}[keydates][preapplication][section55-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section55-month'] }}" id="item-start-date-day">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="item-start-date-year">
              Year
            </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-3 optional" name="{{projectNo}}[keydates][preapplication][section55-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['keydates']['preapplication']['section55-year'] }}" id="item-start-date-day">
          </div>
        </div>
      </div>
    </div>



<input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[itemstatus]}}" id="project-statys" type="text" value="Changed">

      <button class="govuk-button" data-module="govuk-button" data-route="">Save</button>



        </form>
      </div>
    </div>

    {% endblock %}
