
{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
Address | add a representation
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div> -->
    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

    <span class="govuk-caption-l">Add a representation</span>

  <h2 class="govuk-heading-l ">Address details</h2>

{% if data['checkAns']=="True" %}
    <form method="post" action="check-answers">
{% else %}
  <form method="post" action="preferred-contact">
{% endif %}


  <fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-line-1">
        Address line 1
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="representation[addressLine1]" type="text" autocomplete="address-line1" value="{{data['representation']['addressLine1']}}">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-line-2">
        Address line 2 (optional)
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="representation[addressLine2]" type="text" autocomplete="address-line2" value="{{data['representation']['addressLine2']}}">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-town">
        Town or city (optional)
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="address-town" name="representation[townOrCity]" type="text" autocomplete="address-level" value="{{data['representation']['townOrCity']}}">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="representation[postcode]" type="text" autocomplete="postal-code" value="{{data['representation']['postcode']}}">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="address-country">
        Country
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="address-county" name="representation[country]" type="text" value="{{data['representation']['country']}}">
    </div>
  </fieldset>


  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Continue
</button>
</form>
</div>
</div>






{% endblock %}
