
{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
Address details
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div> -->
    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>
    <span class="govuk-caption-l">Add a representation</span>

  <h1 class="govuk-heading-l ">Address details</h1>


    <form method="post" action="address-find" novalidate="novalidate" class="pins-applications-create">

							<input type="hidden" name='currentFormStage' value="searchPostcode">
			<div class="govuk-form-group">
				<label class="govuk-label font-weight--700" for="postcode">
					Postcode
				</label>
				<input class="govuk-input govuk-!-width-one-third" id="postcode" name="postcode" type="text" value="">
			</div>
			<button class="govuk-button" data-module="govuk-button">
  Find address
</button>





	</form>



  <!-- <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button> -->
</form>
</div>
</div>






{% endblock %}
