
{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
Upload an attachment
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

    <span class="govuk-caption-l">Add a representation</span>

  <h1 class="govuk-heading-l ">Upload an attachment</h1>
  <!-- {% if data['checkAns']=="True" %}
      <form method="post" action="check-answers">
  {% else %}
    <form method="post" action="/relevant-reps/check-answers-start">
  {% endif %} -->
<div class="govuk-form-group">


<!-- <p class="govuk-body">This  is where the user would upload an attachment.</p>
<button class="govuk-button govuk-button--secondary govuk-!-margin-top-3" data-module="govuk-button">
Upload document
</button>
</div>
  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Continue
</button>
</form> -->





  <!-- <span class="govuk-caption-l">Deadline item:<br/>{{data['deadlineitem']['deadlinename']}}</span>

<h1 class="govuk-heading-l">Upload files</h1> -->


<form autocomplete="off" class="form" action="files.html?project={{projectNo}}&document[]={{docNo}}" method="post" onsubmit="">

<div class="govuk-form-group govuk-!-margin-top-8">
<label class="govuk-label govuk-label--m" for="project-name">

  </label>
  <div id="doc-enquiry-details" class="govuk-hint">
Choose a single or multiple files to upload. <br/> <br/>
Your file must PDF, DOC, DOCX, PPT, PPTX, XLS, XLSX, JPG, JPEG, MPEG, MP3, MP4, MOV, PNG, TIF or TIFF <br/><br/>

The total of your uploaded files must be smaller than 1GB.</div>

  <p id="doc-enquiry-details-error" class="govuk-error-message">
   <span class="govuk-visually-hidden">Error:</span> You must enter the advice given details
 </p>


 <button class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">Choose files</button> <p class="govuk-body govuk-!-display-inline-block">No files chosen</p>




</div>
<a class="govuk-button govuk-!-margin-top-7" data-module="govuk-button" style="text-decoration: none;" href="check-answers">
Skip this step
</a>

</form>

</div>
</div>



{% endblock %}
{% block pageScripts %}
  <script>
  // I really should learn how the MOJ upload works, however, a hack to get all the files passed into data
    $('#multiupload').submit(function(e) {
      e.preventDefault();
      $('.moj-multi-file-upload__filename').each(function() {
        $('<input name="deadlineitem[uploadedfiles]" type="checkbox" value="'+ $(this).text() +'" checked="true" style="display: none">').insertBefore('.govuk-heading-l');
      });
      $(this).unbind('submit').submit();
    })
  </script>
{% endblock %}
