
{% extends '_layouts/layout-pins.html' %}
{% set representation = data['representation'] %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


{% set checkAns = "True" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div> -->
</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

    <span class="govuk-caption-l">Add a representation</span>

  <h1 class="govuk-heading-l ">Check your answers</h1>
  <form method="post" action="/relevant-reps-v2/check-answers-routing">
 <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row" style="border-bottom:0px;">
              <dt class="govuk-summary-list__key">
                Organisation name
              </dt>
              <dd class="govuk-summary-list__value">
            {{representation.organisationName}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="border-bottom:0px;">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.firstName}} {{representation.lastName}}
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-all#contact">
                  Change<span class="govuk-visually-hidden"> full name</span>
                </a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row" style="border-bottom:0px;">
              <dt class="govuk-summary-list__key">
                Job title
              </dt>
              <dd class="govuk-summary-list__value">

              {{representation.jobTitle}}
              </dd>
             <!--- <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-all#contact">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd> -->
            </div>
            <div class="govuk-summary-list__row"  style="border-bottom:0px;">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">

              {{representation.emailAddress}}
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-all#contact">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">

              {{representation.telNumber}}
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-all#contact">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{representation.addressLine1}}
                {% if representation.addressLine2 != "" %}
                  <br/>{{representation.addressLine2}}
                {% endif %}
                {% if representation.townOrCity != "" %}
                  <br/>{{representation.townOrCity}}
                {% endif %}
                {% if representation.country != "" %}
                  <br/>{{representation.country}}
                {% endif %}
                {% if representation.postcode != "" %}
                  <br/>{{representation.postcode}}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="address">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred contact method
              </dt>
              <dd class="govuk-summary-list__value">
            {{representation.preferredContact}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="preferred-contact">
                  Change<span class="govuk-visually-hidden"> preferred preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.type}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="type">
                  Change<span class="govuk-visually-hidden"> type</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representation on behalf of
              </dt>
              <dd class="govuk-summary-list__value">
            {{representation.representationOnBehalfOf}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="representee">
                  Change<span class="govuk-visually-hidden"> representation on bahelf of</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Under 18
              </dt>
              <dd class="govuk-summary-list__value">
            {{representation.over18}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="over18">
                  Change<span class="govuk-visually-hidden"> over 18</span>
                </a>
              </dd>
            </div>

          </dl>

          {% if representation.representationOnBehalfOf == "A representative on behalf of another person, family group or organisation" %}
          <h3 class="govuk-heading-m">Agent contact details</h3>

              <form method="post" action="/relevant-reps-v2/summary-routing">
        <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Organisation name
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {{representation.onBehalfOrganisationName}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="
                      add-all-agent#contact">
                        Change<span class="govuk-visually-hidden"> name</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {{representation.onBehalfFirstName}}   {{representation.onBehalfLastName}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="add-all-agent#contact">
                        Change<span class="govuk-visually-hidden"> full name</span>
                      </a>
                    </dd>
                  </div>
                  <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Job title
                    </dt>
                    <dd class="govuk-summary-list__value">

                    {{representation.onBehalfJobTitle}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="add-all-agent#contact">
                        Change<span class="govuk-visually-hidden"> job title</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Email address
                    </dt>
                    <dd class="govuk-summary-list__value">

                    {{representation.onBehalfEmailAddress}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="edit/agent/change-all#contact">
                        Change<span class="govuk-visually-hidden"> email address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">

                    {{representation.onBehalfTelNumber}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="add-all-agent#ccontact">
                        Change<span class="govuk-visually-hidden"> telephone number</span>
                      </a>
                    </dd>
                  </div> -->

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row" style="border-bottom:0px;">
                              <dt class="govuk-summary-list__key">
                                Organisation name
                              </dt>
                              <dd class="govuk-summary-list__value">
                              {{representation.onBehalfOrganisationName}}
                              </dd>
                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="
                                ../add/agent/contact">
                                  Change<span class="govuk-visually-hidden"> name</span>
                                </a>
                              </dd>
                            </div>
                            <div class="govuk-summary-list__row" style="border-bottom:0px;">
                              <dt class="govuk-summary-list__key">
                              Name
                              </dt>
                              <dd class="govuk-summary-list__value">
                              {{representation.onBehalfFirstName}}   {{representation.onBehalfLastName}}
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="edit/agent/contact">
                                  Change<span class="govuk-visually-hidden"> full name</span>
                                </a>
                              </dd> -->
                            </div>
                            <!-- <div class="govuk-summary-list__row" style="border-bottom:0px;">
                              <dt class="govuk-summary-list__key">
                              Job title
                              </dt>
                              <dd class="govuk-summary-list__value">

                              {{representation.onBehalfJobTitle}}
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="edit/agent/contact">
                                  Change<span class="govuk-visually-hidden"> job title</span>
                                </a>
                              </dd>
                            </div> -->
                            <div class="govuk-summary-list__row" style="border-bottom:0px;">
                              <dt class="govuk-summary-list__key">
                                Email address
                              </dt>
                              <dd class="govuk-summary-list__value">

                              {{representation.onBehalfEmailAddress}}
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="edit/agent/contact">
                                  Change<span class="govuk-visually-hidden"> email address</span>
                                </a>
                              </dd> -->
                            </div>
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Telephone number
                              </dt>
                              <dd class="govuk-summary-list__value">

                              {{representation.onBehalfTelNumber}}
                              </dd>
                              <!-- <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="edit/agent/contact">
                                  Change<span class="govuk-visually-hidden"> telephone number</span>
                                </a>
                              </dd> -->
                            </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{representation.onBehalfAddressLine1}}
                      {% if representation.onBehalfAddressLine2 != "" %}
                        <br/>{{representation.onBehalfAddressLine2}}
                      {% endif %}
                      {% if representation.onBehalfTownOrCity != "" %}
                        <br/>{{representation.onBehalfTownOrCity}}
                      {% endif %}
                      {% if representation.onBehalfCountry != "" %}
                        <br/>{{representation.onBehalfCountry}}
                      {% endif %}
                      {% if representation.onBehalfPostcode != "" %}
                        <br/>{{representation.onBehalfPostcode}}
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../add/agent/address">
                        Change<span class="govuk-visually-hidden"> address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Preferred contact method
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{representation.onBehalfPreferredContact}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../add/agent/preferred-contact">
                        Change<span class="govuk-visually-hidden"> preferred preferred contact method</span>
                      </a>
                    </dd>
                  </div>
                  <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{representation.onBehalfType}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="add-all-agent#entity">
                        Change<span class="govuk-visually-hidden"> preferred contact method</span>
                      </a>
                    </dd>
                  </div> -->

                  <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Under 18
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {{representation.onBehalfOver18}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="add-all-agent#over18">
                        Change<span class="govuk-visually-hidden"> over 18</span>
                      </a>
                    </dd>
                  </div> -->

                </dl>
                {% endif %}
            <h3 class="govuk-heading-m">Representation</h3>
          <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row" style="border-bottom:0px;">
                      <dt class="govuk-summary-list__key">
                        Date received
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 September 2022
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="representation">
                          Change<span class="govuk-visually-hidden"> date received</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Original representation
                      </dt>
                      <dd class="govuk-summary-list__value" >
                      {{representation.representationOriginal}}
                      </dd>
                      <!-- <dd class="govuk-summary-list__actions">
                        <!-- <a class="govuk-link" href="representation">
                          Change<span class="govuk-visually-hidden"> representation</span>
                        </a>
                      </dd> -->
                    </div>

                              </dl>



                                {% if data['Upload'] %}
                                  <h3 class="govuk-heading-m">Attachments</h3>
                              <dl class="govuk-summary-list">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            {{ data['Upload'] }}
                                        </dt>

                                        <dd class="govuk-summary-list__actions">
                                          <a class="govuk-link" href="files">
                                            Change<span class="govuk-visually-hidden"> attachments</span>
                                          </a>
                                        </dd>
                                      </div>
                                      </dl>
                                      {% endif %}

                      <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
  Submit for review
</button>
</form>
</div>
</div>






{% endblock %}
