
{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
Contact details
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
</div>
{% endblock %}



{% block content %}

<style>
.govuk-error-summary,
.govuk-error-message,
.govuk-error-summary__list li a {
  display:block;
}

</style>





  {% if data['error'] %}

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#first-name-error">Enter first name</a>
            </li>
            <li>
              <a href="#last-name-error">Enter last name</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <!-- <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Add a representation
        </li>
      </ol>
    </div> -->

    <p class="govuk-body"><strong>Project name:</strong>  Drax Bioenergy with Carbon Capture and Storage Project </p>

    <span class="govuk-caption-l">Add a representation</span>

  <h1 class="govuk-heading-l ">Contact details</h1>
  {% if data['checkAns']=="True" %}
      <form method="post" action="check-answers">
  {% else %}
    <form method="post" action="/relevant-reps/add/contact-answer">
  {% endif %}

<form method="post" action="address">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Organisation name (optional)
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[organisationName]" type="text">
  </div>

      {% if data['error'] %}
    <div class="govuk-form-group"><div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      First name
    </label>
    <p id="first-name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter first name
    </p>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[firstName]" type="text">
  </div>
  </div>

  <div class="govuk-form-group"><div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Last name
    </label>
    <p id="last-name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter last name
    </p>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[lastName]" type="text">
  </div>
  </div>


  {% else %}

  <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    First name
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[firstName]" type="text">

</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    Last name
  </label>

  <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[lastName]" type="text">
</div>



{% endif %}




  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
    Job title (optional)
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[jobTitle]" type="text" value="{{data['representation']['jobTitle']}}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Email address (optional)
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[emailAddress]" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-!-font-weight-bold" for="one-half">
      Telephone number (optional)
    </label>
    <input class="govuk-input govuk-!-width-one-half" id="one-half" name="representation[telNumber]" type="text">
  </div>

  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Continue
</button>
</form>
</div>
</div>






{% endblock %}
