
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}
{% set representations = data['interestedParties'] %}
{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Banner complete
                </h1>

            </div>
            <p class="govuk-body"><a href="#">View project documentation</a></p>

</div>
</div>



{% endblock %}
