
{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}



{% block content %}

<div class="govuk-grid-row project-information">

  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-information' %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l"> Unpublish a project</h2>

 <p class="govuk-body"> You are unpublishing the project page for {{ data[projectNo]['projectdetails']['project-name'] }}, case reference number: {{ data[projectNo]['projectdetails']['project-case-number'] }}


  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Unpublishing the project page will remove te project page and any associated published documents from the NSIPs website <br/> <br/>
    You will be able to republish the project and documents again
  </strong>
</div>


      <form autocomplete="off" class="form" action="submit?project={{projectNo}}" method="post">
  <input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[publishedstatus]}}" id="project-statys" type="text" value="DePub">

      <button class="govuk-button govuk-button--warning" data-module="govuk-button" data-route="">Unpublish project</button>

    </form>


</div>

 </div>


{% endblock %}
