{% extends '_layouts/layout-pins.html' %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}

 <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#error-role" id="error-role">You must choose a role </a>
        </li>
        <li>
          <a href="#error-case" id="error-case">You cannot have two Case Managers on a team </a>
        </li>
      </ul>
    </div>
</div>


<div>
  <h1 class="govuk-heading-l">Choose their role on this project</h1>
</div>

<h2 class="govuk-heading-m">
{{ data[projectNo]['teammembers']['members'][memberNo]['first-name'] }} 
{{ data[projectNo]['teammembers']['members'][memberNo]['last-name'] }}

</h2>


<!-- If a case manager doesn't exist, then just run normal validation to make sure filed isn't blank, also to check if Case Manager has been selected so this can be flagged -->
  <form autocomplete="off" class="form" action="add-role.html?project={{projectNo}}" method="post" onsubmit="return validate(event)">







<div class="govuk-form-group">
  </label>
  <div id="subject-hint" class="govuk-hint">
    You can change this later
  </div>

  <p id="error-role" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> You must select a role
  </p>
   <p id="error-case" class="case" style="color: #d4351c; font-weight: bold; display: none;">
      <span class="govuk-visually-hidden">Error:</span> You cannot have two Case Managers on a team
  </p>

  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="casemanager" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Case Manager">
          <label class="govuk-label govuk-radios__label" for="casemanager">
            Case Manager
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="environmentalservices" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Environmental Services">
          <label class="govuk-label govuk-radios__label" for="environmentalservices">
            Environmental Services
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="inspector" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Inspector">
          <label class="govuk-label govuk-radios__label" for="inspector">
            Inspector
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="leadinspector" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Lead Inspector">
          <label class="govuk-label govuk-radios__label" for="leadinspector">
            Lead Inspector
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="legalofficer" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Legal Officer">
          <label class="govuk-label govuk-radios__label" for="legalofficer">
            Legal Officer
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="nsipadministrationofficer" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="NSIP Administration Officer">
          <label class="govuk-label govuk-radios__label" for="nsipadministrationofficer">
            NSIP Administration Officer
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="nsipofficer" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="NSIP Officer">
          <label class="govuk-label govuk-radios__label" for="nsipofficer">
            NSIP Officer
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="officer" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Officer">
          <label class="govuk-label govuk-radios__label" for="officer">
           Officer
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="operationslead" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Operations Lead">
          <label class="govuk-label govuk-radios__label" for="operationslead">
           Operations Lead
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="operationsmanager" name="{{projectNo}}[teammembers][members][{{memberNo}}][role]}}" type="radio" value="Operations Manager">
          <label class="govuk-label govuk-radios__label" for="operationsmanager">
           Operations Manager
          </label>
        </div>
  </div>

  
</div>
 <!-- if role already exists then we are editing-->
 {% if data[projectNo]['teammembers']['members'][memberNo]['role']%}
 <button class="govuk-button" data-module="govuk-button">
  Save and return
</button>

  
  <a href="delete-role.html?project={{projectNo}}&team={{memberNo}}" class="govuk-body govuk-!-margin-top-2 govuk-!-margin-left-2 govuk-!-display-inline-block"> Remove team member </a>

<!-- Else this is new-->
{%else%}
<button class="govuk-button" data-module="govuk-button">
  Add team member
</button>
  
{%endif%}

</form>

{% endblock %}
