{% extends '_layouts/layout-pins.html' %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div>
  <h1 class="govuk-heading-l">Choose their role on this project</h1>
</div>


<form autocomplete="off" class="form" action="index?project={{projectNo}}" method="post">

<div class="govuk-form-group">
  </label>
  <div id="subject-hint" class="govuk-hint">
    You can change this later
  </div>
  <select class="govuk-select" id="subject" name="subject" aria-describedby="subject-hint">
    <option selected>Choose role</option>
    <option value="Case Manager">Case Manager</option>
    <option value="Environmental Services">Environmental Services</option>
    <option value="Inspector">Inspector</option>
    <option value="Lead Inspector">Lead Inspector</option>
    <option value="Legal Officer">Legal Officer</option>
    <option value="NSIP Administration Officer">NSIP Administration Officer</option>
    <option value="NSIP Officer">NSIP Officer</option>
    <option value="Officer">Officer</option>
    <option value="Operations Lead">Operations Lead</option>
    <option value="Operations Manager">Operations Manager</option>
  </select>


  <input class="govuk-input govuk-input--width-20 select " style="display:none" name="{{projectNo}}[teammembers][teammember1][role]}}" id="project-type" type="text">
  
</div>
<button class="govuk-button" data-module="govuk-button">
  Add team member
</button>

</form>

{% endblock %}
