
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-team' %}
      {% include "../includes/vertical_tabs.html" %}
    
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l"> Project team</h2>
    <p class="govuk-body">Use this section to add the details of people working on the case.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-m">Add team member</h3>

    <div class="govuk-form-group">
      <input class="govuk-input govuk-input govuk-!-width-two-thirds" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
      Search
      </button>
    </div> 
    
        <dl class="govuk-summary-list govuk-!-padding-top-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ data[projectNo]['teammembers']['teammember1']['role'] }}</dt>
            <dd class="govuk-summary-list__value">
              Floyd Miles
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        </dl>
  </div>
</div>




{% endblock %}