
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-team' %}
      {% include "../includes/vertical_tabs.html" %}
    
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l"> Project team</h2>
    <p class="govuk-body">Use this section to add the details of people working on the case.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-m">Add team member</h3>

   <form class="form" action="submit.html?project={{projectNo}}" method="post">
    <!-- submits form to a 'branching' page, stored on the server, which will give different results depending on what was entered into the search bar. For this, we will be storing the text input, and showing a different response on the search.html page-->

    <div class="govuk-form-group">
      <input class="govuk-input govuk-input govuk-!-width-two-thirds" id="teamMember" name="teamMember" type="text" aria-describedby="event-name-hint">
      <button href="search.html?project={{projectNo}}" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
      Search
      </button>
    </div> 

  </form>

    {% set teamexists = "" %}
        <dl class="govuk-summary-list govuk-!-padding-top-3">

          {%  for team, members in data.project01.teammembers.members %}
          <!-- loop through all the team members-->


          {%if members['role']%}
          {% set teamexists = "yes" %}
          <!-- only show members who have a role assigned-->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ members ['role'] }}</dt>
            <dd class="govuk-summary-list__value">
              {{ members ['first-name'] }} {{ members ['last-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="choose-role.html?project={{projectNo}}&team=teammember{{loop.index}}">
                Edit<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>
        
        {%endif%}

        {% endfor %}

        </dl>

         {% if not teamexists  %}
         <p class="govuk-body">No project members have been added yet</p>
         
        {%endif%}


  </div>
</div>




{% endblock %}