{% extends '_layouts/layout-pins.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set projectNo = data['projectNo'] %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#project-zoom" id="project-sector">You must pick a map zoom level</a>
            </li>

          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">Choose a map zoom level</h1>

      {% if projectNo == "project00" %}
        <form autocomplete="off" class="form" action="project-email" method="post" onsubmit="return validateForm(event)">
      {% else %}
          <form autocomplete="off" class="form" action="../project-information/index?project={{projectNo}}" method="post" onsubmit="return validateForm(event)">
      {% endif %}


      <div class="govuk-form-group">
        <p id="project-zoom-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Select a map zoom level
       </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-zoom" name="{{projectNo}}[projectdetails][project-zoom]" type="radio" value="Country" {{ checked("projectNo['project-region']", "Country") }} >
          <label class="govuk-label govuk-radios__label" for="zoom">
            Country
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-zoom" name="{{projectNo}}[projectdetails][project-zoom]" type="radio" value="Region" {{ checked("projectNo['project-region']", "Region") }} >
          <label class="govuk-label govuk-radios__label" for="zoom-2">
            Region
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-zoom" name="{{projectNo}}[projectdetails][project-zoom]" type="radio" value="Borough" {{ checked("projectNo['project-region']", "Borough") }} ">
          <label class="govuk-label govuk-radios__label" for="zoom-3">
            Borough
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-zoom" name="{{projectNo}}[projectdetails][project-zoom]" type="radio" value="District" {{ checked("projectNo['project-region']", "District") }} >
          <label class="govuk-label govuk-radios__label" for="zoom-4">
            District
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-zoom" name="project00[projectdetails][project-zoom]" type="radio" value="None" {{ checked("projectNo['project-region']", "None") }} >
          <label class="govuk-label govuk-radios__label" for="zoom-5">
            None
          </label>
        </div>

      </div>
      </div>

        <button class="govuk-button" data-module="govuk-button">Save & Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
