{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row examtimetable">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#item-end-time-hr" id="item-end-time-hr">You must enter the hour of end time</a>
            <a href="#item-end-time-min" id="item-end-time-min">You must enter the minute of end time</a>
            <a href="#item-end-date-day" id="item-end-date-day">You must enter the day of the end date</a>
            <a href="#item-end-date-month" id="item-end-date-month">You must enter the month of the end date</a>
            <a href="#item-end-date-year" id="item-end-date-year">You must enter the year of the end date</a>
          </li>
        </ul>
      </div>
    </div>

    <h1 class="govuk-heading-l">Create new item</h1>
    <p class="govuk-body">Add examination timetable details</p>

    <form autocomplete="off" class="form" action="item-description?project={{projectNo}}&item[]={{itemNo}}" method="post" onsubmit="return validateForm(event)">

      <div class="govuk-form-group date">
        <label class="govuk-label govuk-label--m" for="project-name">
            End date and time
        </label>
        <p id="project-name-error" class="govuk-error-message govuk-date-input__label">
          <span class="govuk-visually-hidden">Error:</span> You must enter an item name
        </p>

        <div id="passport-issued-hint" class="govuk-hint">
                 For example, 23 59 PM
        </div>

        <div class="govuk-date-input" id="passport-issued">
         <div class="govuk-date-input__item">
           <div class="govuk-form-group">
             <label class="govuk-label govuk-date-input__label" for="item-end-time-min">
               Time
             </label>
             <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-time-min]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-min'] }}" id="item-end-time-min">
           </div>

         </div>
         <p class="date-sep">:</p>
         <div class="govuk-date-input__item">
           <div class="govuk-form-group">
             <label class="govuk-label govuk-date-input__label" for="item-end-time-hr">

             </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2"  name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-time-hr]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-time-hr'] }}" id="item-end-time-hr">
           </div>
         </div>
         <div class="govuk-date-input__item">
           <div class="govuk-form-group">
             <label class="govuk-label govuk-date-input__label" for="passport-issued-year">

             </label>
             <select class="govuk-select" id="sort" name="sort">
               <option value="deadline">AM</option>
               <option value="deadline">PM</option>
             </select>

           <input class="govuk-input govuk-input--width-20 select govuk-!-display-none" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-time-12]}}" id="project-type" type="text">
           </div>
         </div>

        </div>
      </div>
      <br/>

        <div class="govuk-form-group">

            <p id="project-name-error" class="govuk-error-message">
             <span class="govuk-visually-hidden">Error:</span> You must select a date recieved
           </p>

           <div id="passport-issued-hint" class="govuk-hint">
             For example, 27 3 2007
           </div>
           <div class="govuk-date-input" id="passport-issued">
             <div class="govuk-date-input__item">
               <div class="govuk-form-group">
                 <label class="govuk-label govuk-date-input__label" for="item-end-date-day">
                   Day
                 </label>
                 <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-date-day]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-day'] }}" id="item-end-date-day">
               </div>
             </div>
             <div class="govuk-date-input__item">
               <div class="govuk-form-group">
                 <label class="govuk-label govuk-date-input__label" for="item-end-date-month">
                   Month
                 </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2"  name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-date-month]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-month'] }}" id="item-end-date-month">
               </div>
             </div>
             <div class="govuk-date-input__item">
               <div class="govuk-form-group">
                 <label class="govuk-label govuk-date-input__label" for="item-end-date-year">
                   Year
                 </label>
                 <input class="govuk-input govuk-date-input__input govuk-input--width-2" name="{{projectNo}}[examtimetable][items][{{itemNo}}][item-end-date-year]}}" type="text" inputmode="numeric" value="{{ data[projectNo]['examtimetable']['items'][itemNo]['item-end-date-year'] }}" id="item-end-date-year">
               </div>
             </div>

            </div>
          </div>


          <button class="govuk-button" data-module="govuk-button">Continue</button>


    </form>
  </div>
</div>

{% endblock %}
