{% extends '_layouts/layout-includes.html' %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% if projectNo %}
  {% else %}
    {% set projectNo = "project01" %}
{% endif %}

{% if docNo %}
  {% else %}
    {% set docNo = "doc0" %}
{% endif %}

{% set containerClasses = containerClasses | default("bo-width") %}

//workout why this is doubling up on classes

{% set mainClasses = mainClasses | default("govuk-width-container govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/reset",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
