{% extends '_layouts/layout-pins.html' %}


{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block beforeContent %}
<div class="govuk-width-container">
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row examtimetable publish">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Unpublish exam timetable</h1>

    <p>Check items before unpublishing</p>




    <form autocomplete="off" class="form"  action="submit.html?project={{projectNo}}" method="post">
      {%  for item, ttitem in data.project01.examtimetable.items %}


      <a id="{{item}}"></a>
      <h3 class="govuk-heading-m govuk-!-margin-bottom-10">
        {% if ttitem['item-type'] == 'Deadline' %}
        {{ ttitem['item-end-date-day'] }}/{{ ttitem['item-end-date-month'] }}/{{ ttitem['item-end-date-year'] }} -  {{ ttitem['item-name'] }}
        {%else%}
        {{ ttitem['item-start-date-day'] }}/{{ ttitem['item-start-date-month'] }}/{{ ttitem['item-start-date-year'] }} -  {{ ttitem['item-name'] }}
        {%endif%}


  </h3>

  {% if ttitem['item-action'] == 'Closed' %}
  <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> Closed</strong>

  {% elif ttitem['item-action'] == 'Open' %}
  <strong class="govuk-tag govuk-tag--turquoise govuk-heading-s govuk-!-margin-bottom-0">Open</strong>
  {% endif %}




  <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Show
  </span>
</summary>
<div class="govuk-details__text">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <!-- Show diff views for each item type. Refactor in future there's probs a better way to do this-->

    <!--- DEADLINE --->

    {% if 'Deadline' in  ttitem['item-type'] %}
    {% include "../includes/item-deadline.html" %}
    {%endif%}


    <!--- SITE VISIT (ACCOMPANIED) --->
    {% if 'Site Visit (Accompanied)' in  ttitem['item-type'] %}
    {% include "../includes/item-site-visit-accompanied.html" %}
    {%endif%}


    <!--- ISSUE SPECIFIC HEARING --->
    {% if 'Issue Specific Hearing' in  ttitem['item-type'] %}
    {% include "../includes/item-issue-specific-hearing.html" %}
    {%endif%}


    <!--- ISSUE BY --->
    {% if 'Issue by' in  ttitem['item-type'] %}
    {% include "../includes/item-issue-by.html" %}
    {%endif%}


    <!--- COMPULSORY AQUISITION HEARING --->
    {% if 'Compulsory Acquisition Hearing' in  ttitem['item-type'] %}
      {% include "../includes/item-compulsory-aquisition-hearing.html" %}
    {%endif%}

  </dl>


<input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[examtimetable][items][{{item}}][item-status]}}" id="project-statys" type="text" value="Published">



</details>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


{% else %}

{% endfor %}

<input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[examtimetable][timetable-status]}}" id="project-status" type="text" value="">



<button class="govuk-button">
  Unpublish exam timetable
</button>
</form>

  </div>
</div>

{% endblock %}
