
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block content %}

<!-- //check how many items exist -->
{% set newItem = data.project01.examtimetable.items | length + 1%}

<div class="govuk-grid-row examtimetable">

  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-timetable' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <div class="publish-error">
    {% if data.project01.examtimetable['timetable-status']%}
      {%  for item, ttitem in data.project01.examtimetable.items %}
        {% if ttitem['item-status'] == 'Changed' %}
        <!-- <p class="govuk-body"><strong style="color: #d4351c">There are unpublished changes that have been made. You need to republish the exam timetable for changes to reflect on NSIPs website and may need to issue a Rule 8.3 letter.</strong></p> -->
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            There are unpublished changes that have been made. You need to republish the exam timetable for changes to reflect on NSIPs website and may need to issue a Rule 8.(3) letter.
          </strong>
        </div>
        {%endif%}
        {% if ttitem['item-status'] == 'DeletedPub' %}
        <!-- <p class="govuk-body"><strong style="color: #d4351c">There are unpublished changes that have been made. You need to republish the exam timetable for changes to reflect on NSIPs website and may need to issue a Rule 8.3 letter.</strong></p> -->
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            There are unpublished changes that have been made. You need to republish the exam timetable for changes to reflect on NSIPs website and may need to issue a Rule 8.(3) letter.
          </strong>
        </div>
        {%endif%}
      {% endfor %}

    {% else %}
    <!-- do nadda -->
    {% endif %}
    </div>


    <h2 class="govuk-heading-l"> Examination Timetable</h2>

    {% if data.project01.examtimetable['timetable-status']%}
    <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> Published</strong>
    {% else %}
    <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> Unpublished</strong>
    {% endif %}

    <p class="govuk-body">Create or manage an examination timetable</p>

    <a href="new-item/item-type?project=project01&item[]=item{{newItem}}" class="govuk-button">
      Create new timetable item
    </a>

    <br />

    {% if data.project01.examtimetable.items | length %}
      {% if "Published" in data.project01.examtimetable['timetable-status']  %}
        <a href="publish/index?project=project01" class="govuk-button govuk-button--secondary">
          Republish exam timetable
        </a>
      {%else%}
      <a href="publish/index?project=project01" class="govuk-button govuk-button--secondary">
        Publish exam timetable
      </a>
      {%endif%}
    {%endif%}



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



      {%  for item, ttitem in data.project01.examtimetable.items %}

      <form autocomplete="off" class="form"  action="delete/index.html?project={{projectNo}}&item[]={{item}}" method="post" onsubmit="return validateForm(event)">

    <a id="{{item}}"></a>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-10">
      {% if ttitem['item-type'] == 'Deadline' %}
      {{ ttitem['item-end-date-day'] }}/{{ ttitem['item-end-date-month'] }}/{{ ttitem['item-end-date-year'] }} -  {{ ttitem['item-name'] }}
      {%else%}
      {{ ttitem['item-start-date-day'] }}/{{ ttitem['item-start-date-month'] }}/{{ ttitem['item-start-date-year'] }} -  {{ ttitem['item-name'] }}
      {%endif%}


</h3>
{% if ttitem['item-action'] == 'Closed' %}
<strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> Closed</strong>

{% elif ttitem['item-action'] == 'Open' %}
<strong class="govuk-tag govuk-tag--turquoise govuk-heading-s govuk-!-margin-bottom-0"> Open</strong>
{% endif %}




    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show
    </span>

  </summary>



      <!-- Show diff views for each item type. Refactor in future there's probs a better way to do this-->

      <!--- DEADLINE --->
      {% if ttitem['item-type'] == 'Deadline' %}
      {% include "./includes/item-deadline.html" %}
      {%endif%}


      <!--- SITE VISIT (ACCOMPANIED) --->
      {% if ttitem['item-type'] == 'Site Visit (Accompanied)' %}
      {% include "./includes/item-site-visit-accompanied.html" %}
      {%endif%}


      <!--- ISSUE SPECIFIC HEARING --->
      {% if ttitem['item-type'] == 'Issue Specific Hearing' %}
      {% include "./includes/item-issue-specific-hearing.html" %}
      {%endif%}


      <!--- ISSUE BY --->
      {% if ttitem['item-type'] == 'Issue by' %}
      {% include "./includes/item-issue-by.html" %}
      {%endif%}


      <!--- COMPULSORY AQUISITION HEARING --->
      {% if ttitem['item-type'] == 'Compulsory Acquisition Hearing' %}
        {% include "./includes/item-compulsory-aquisition-hearing.html" %}
      {%endif%}


      {% if ttitem['item-action'] == 'Closed'%}
      {% elif ttitem['item-action'] == 'In progress'%}
      {%else%}
      <button class="delete" data-module="govuk-button">
        Delete timetable item
      </button>
      {%endif%}
  </details>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% else %}
{% endfor %}

{% if "Published" in data.project01.examtimetable['timetable-status']  %}
<a href="depublish/index.html?project={{projectNo}}"> Unpublish timetable</a>
{%endif%}

  </div>
</div>




{% endblock %}
