
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Representation entity | add a representation
{% endblock %}

{% block content %}

<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../summary">{{data['representation']['fullName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
    Edit representation
        </li>
      </ol>
    </div>
    <h2 class="govuk-heading-l no-margin">  {{data['representation']['firstName']}} {{data['representation']['lastName']}}</h2>
    <span class="govuk-tag {{representation.representationColourClass}} govuk-!-margin-bottom-7" id="list-convictions-status">{{data['representation']['status']}}</span>
  <h2 class="govuk-heading-m ">Representation entity</h2>
<form method="post" action="../summary"><div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method" name="representation[representationOnBehalfOf]" type="radio" value="An individual">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method">
        An individual
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method-2" name="representation[representationOnBehalfOf]" type="radio" value="An organisation">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method-2">
        An organisation
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method-3" name="representation[representationOnBehalfOf]" type="radio" value="A representative on behalf of another person, family group or organisation">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method-3">
          A representative on behalf of another person, family group or organisation
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="preferred-contact-method-4" name="representation[representationOnBehalfOf]" type="radio" value="Other statutory consultees">
        <label class="govuk-label govuk-radios__label" for="preferred-contact-method-4">
          Other statutory consultees
        </label>
      </div>

</fieldset>
</div>
  <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
