
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Joe Bloggs | Change status
{% endblock %}

{% block content %}
<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }




    .impact {
      font-size: 80px;
      color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  text-align: center;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
    }

    .impact-description {
      font-size: 20px;
      color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  text-align: center;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
    }
  
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
  <a class="govuk-breadcrumbs__link" href="summary">{{data['representation']['fullName']}}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
  Change status
        </li>
      </ol>
    </div>
    <span class="govuk-caption-l">{{data['representation']['fullName']}}</span>

  <h1 class="govuk-heading-l no-margin">Change status</h1>
  <span class="govuk-tag {{data['representation']['representationColourClass']}}" id="list-convictions-status">{{data['representation']['status']}}</span>


<form method="post" action="/relevant-reps-v1/change-status-routing">
  <div class="govuk-form-group govuk-!-margin-top-5">
    <fieldset class="govuk-fieldset">

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="representation-status" name="representation[status]" type="radio" value="Awaiting review">
          <label class="govuk-label govuk-radios__label" for="representation-status">
          Awaiting review
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="representation-status-2" name="representation[status]" type="radio" value="Referred">
          <label class="govuk-label govuk-radios__label" for="representation-status-2">
            Referred to case team
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="representation-status-3" name="representation[status]" type="radio" value="Invalid">
          <label class="govuk-label govuk-radios__label" for="representation-status-3">
            Invalid
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="representation-status-4" name="representation[status]" type="radio" value="Valid">
          <label class="govuk-label govuk-radios__label" for="representation-status-4">
            Valid
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="representation-status-6" name="representation[status]" type="radio" value="Withdrawn">
          <label class="govuk-label govuk-radios__label" for="representation-status-6">
            Withdrawn
          </label>
        </div>

      </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
Save and continue
</button>
</form>
</div>
</div>






{% endblock %}
