
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}
{% set representation = data['representation'] %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index?project=project05">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      {{representation.firstName}}   {{representation.lastName}}
        </li>
      </ol>
    </div>

{% if representation.duplicate == true %}
              <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          There may be a duplication
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-body">
        The following representation may be a duplicate:
          </p>

          <ul>
            <li><a href="">Michael Smith</a></li>

          </ul>

          <p class="govuk-body govuk-!-margin-top-6"><a class="govuk-link" href="#">Do not show this again</a></p>
        </div>
      </div>
      {% endif %}
  <h2 class="govuk-heading-l no-margin">  {{representation.firstName}}  {{representation.lastName}}</h2>
  <span class="govuk-tag {{representation.representationColourClass}}" id="list-convictions-status">{{representation.status}}</span>
</div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-5">

  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m">Contact details</h3>

        <form method="post" action="/relevant-reps-v1/summary-routing">
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation name
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.organisationName}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="
                edit/contact">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Name
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.firstName}}   {{representation.lastName}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/contact">
                  Change<span class="govuk-visually-hidden"> full name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">

              {{representation.emailAddress}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/contact">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{representation.addressLine1}}<br/>{{representation.addressLine2}}<br/>{{representation.townOrCity}}<br/>{{representation.county}}{{representation.postcode}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/address">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred contact method
              </dt>
              <dd class="govuk-summary-list__value">
                {{representation.preferredContact}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/preferred-contact">
                  Change<span class="govuk-visually-hidden"> preferred preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
                {{representation.type}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/type">
                  Change<span class="govuk-visually-hidden"> preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representation on behalf of
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.representationOnBehalfOf}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/representee">
                  Change<span class="govuk-visually-hidden"> preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Over 18
              </dt>
              <dd class="govuk-summary-list__value">
              {{representation.over18}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="edit/over18">
                  Change<span class="govuk-visually-hidden"> over 18</span>
                </a>
              </dd>
            </div>

          </dl>
            <h3 class="govuk-heading-m">Representation</h3>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reference
              </dt>
              <dd class="govuk-summary-list__value">
                  {{representation.ipNumber}}
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            {% if representation.status=="Published" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Exam library reference
              </dt>
              <dd class="govuk-summary-list__value">
                  RR-1234
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            {% endif %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date received
                      </dt>
                      <dd class="govuk-summary-list__value">
                          {{representation.representationDateReceived}}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                    
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Original representation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {{representation.representationOriginal}}...
                        <p class="govuk-body govuk-!-margin-top-2"><a href="redact">Read full representation</a></p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="redact">
                          Redact<span class="govuk-visually-hidden"> representation</span>
                        </a>
                      </dd>
                    </div>
{% if representation.redacted=="Yes" %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Redacted representation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        This is an example representation - most take around 187 words.<br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mi lorem, posuere ut sagittis id, rutrum vel purus. Phasellus tellus arcu, mattis at tincidunt id, sodales sit amet ante. Mauris felis leo, hendrerit vel blandit eget, dictum ac metus. Etiam ut eros gravida, ultricies magna ac, tempor mi. Fusce tempor lacinia orci, quis gravida mi condimentum quis. Nam iaculis, mi ac posuere dignissim, quam diam sagittis leo, sit amet viverra nisi ligula nec sem. Maecenas maximus a neque sed efficitur.<br/><br/>
                      <span style="background-color: #FFFF00">(Redacted)</span> Cras eu posuere massa, vitae sagittis leo. Curabitur ac erat massa. Vivamus rhoncus quam lorem, ut imperdiet erat laoreet vel. Sed non massa quis metus mattis eleifend. Fusce vitae nisl volutpat, vehicula nisi et, dapibus ipsum. Vestibulum et ultrices lorem, a ultricies dolor. Donec interdum viverra ex, non sollicitudin ante mollis sit amet. Morbi sit amet tortor nec augue convallis eleifend. Phasellus fringilla lectus ac risus congue tempor. Curabitur malesuada nunc sitamet est ultricies euismod. Duis ut augue et ligula porttitor ultricies. Morbi vel.
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">

                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Redaction notes
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Mauris auctor elit quis ex ultricies, non tempus nisl commodo.
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> status</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Redacted by
                      </dt>
                      <dd class="govuk-summary-list__value">
                            Sally Jones
                      </dd>
                      <dd class="govuk-summary-list__actions">

                      </dd>
                    </div>
{% endif %}
                      </dl>

                      <h3 class="govuk-heading-m">Attachments</h3>
                      <dl class="govuk-summary-list">
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  List of attachments
                                </dt>
                                <dd class="govuk-summary-list__value">
                                upload.docx
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="edit/attachments">
                                    Change<span class="govuk-visually-hidden"> attachments</span>
                                  </a>
                                </dd>
                              </div>
                              </dl>

                      <h3 class="govuk-heading-m govuk-!-margin-top-9">Workflow</h3>
                    <dl class="govuk-summary-list">

                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Redacted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                {{representation.redacted}}

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="redaction">
                                    Change<span class="govuk-visually-hidden"> status</span>
                                  </a>
                                </dd>
                              </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <span class="govuk-tag {{representation.representationColourClass}}" id="list-convictions-status">    {{representation.status}}</span>

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="status">
                                    Change<span class="govuk-visually-hidden"> status</span>
                                  </a>
                                </dd>
                              </div>
                              </dl>
                              <p class="govuk-body"><a href="audit/index">View workflow audit log</a></p>



<div class="govuk-button-group">

             <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
              Save and next
             </button>
             <form action="confirmation-2" method="post"><button class="govuk-button govuk-button--secondary" data-module="govuk-button" >
               Save and back to results
             </button>
             </form>
</div>


</div>


    </div>






{% endblock %}
