
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}


{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<style type="text/css">
  .no-margin {
    margin-bottom: 10px;
  }
  </style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-breadcrumbs govuk-!-margin-bottom-5" style="margin-top:-15px;">
      <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Project documentation</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="index">Relevant representations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
      Joe Bloggs
        </li>
      </ol>
    </div>
  <h1 class="govuk-heading-l no-margin">Joe Bloggs</h1>
  <span class="govuk-tag govuk-tag--grey" id="list-convictions-status">Awaiting Review</span>
</div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-5">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Contact details</h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation name
              </dt>
              <dd class="govuk-summary-list__value">
              --
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="
                add/contact">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                Joe Bloggs
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/contact">
                  Change<span class="govuk-visually-hidden"> full name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">

                <p class="govuk-body">joe.bloggs@example.com</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/contact">
                  Change<span class="govuk-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                72 Guild Street<br>London<br>SE23 6FH
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/address">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Preferred contact method
              </dt>
              <dd class="govuk-summary-list__value">
              Email
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/preferred-contact">
                  Change<span class="govuk-visually-hidden"> preferred preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type
              </dt>
              <dd class="govuk-summary-list__value">
              Members of the public/busineses
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/type">
                  Change<span class="govuk-visually-hidden"> preferred contact method</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Representation on behalf of
              </dt>
              <dd class="govuk-summary-list__value">
              Myself
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add/representee">
                  Change<span class="govuk-visually-hidden"> preferred contact method</span>
                </a>
              </dd>
            </div>

          </dl>
            <h2 class="govuk-heading-m">Representation</h2>
          <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Web reference
                      </dt>
                      <dd class="govuk-summary-list__value">
                      147
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> web reference</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date received
                      </dt>
                      <dd class="govuk-summary-list__value">
                        2 September 2022
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> date received</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Original representation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        This is an example representation - most take around 187 words.<br/><br/>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mi lorem, posuere ut sagittis id, rutrum vel purus. Phasellus tellus arcu, mattis at tincidunt id, sodales sit amet ante. Mauris felis leo, hendrerit vel blandit eget, dictum ac metus. Etiam ut eros gravida, ultricies magna ac, tempor mi. Fusce tempor lacinia orci, quis gravida mi condimentum quis. Nam iaculis, mi ac posuere dignissim, quam diam sagittis leo, sit amet viverra nisi ligula nec sem. Maecenas maximus a neque sed efficitur.<br/><br/>

Mauris auctor elit quis ex ultricies, non tempus nisl commodo. Cras eu posuere massa, vitae sagittis leo. Curabitur ac erat massa. Vivamus rhoncus quam lorem, ut imperdiet erat laoreet vel. Sed non massa quis metus mattis eleifend. Fusce vitae nisl volutpat, vehicula nisi et, dapibus ipsum. Vestibulum et ultrices lorem, a ultricies dolor. Donec interdum viverra ex, non sollicitudin ante mollis sit amet. Morbi sit amet tortor nec augue convallis eleifend. Phasellus fringilla lectus ac risus congue tempor. Curabitur malesuada nunc sit amet est ultricies euismod. Duis ut augue et ligula porttitor ultricies. Morbi vel.


                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="redact">
                          Redact<span class="govuk-visually-hidden"> representation</span>
                        </a>
                      </dd>
                    </div>
                    {% if data['redacted'] %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Redacted representation
                      </dt>
                      <dd class="govuk-summary-list__value">
                        This is an example representation - most take around 187 words.<br/><br/>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mi lorem, posuere ut sagittis id, rutrum vel purus. Phasellus tellus arcu, mattis at tincidunt id, sodales sit amet ante. Mauris felis leo, hendrerit vel blandit eget, dictum ac metus. Etiam ut eros gravida, ultricies magna ac, tempor mi. Fusce tempor lacinia orci, quis gravida mi condimentum quis. Nam iaculis, mi ac posuere dignissim, quam diam sagittis leo, sit amet viverra nisi ligula nec sem. Maecenas maximus a neque sed efficitur.<br/><br/>

Mauris auctor elit quis ex ultricies, non tempus nisl commodo. Cras eu posuere massa, vitae sagittis leo. Curabitur ac erat massa. Vivamus rhoncus quam lorem, ut imperdiet erat laoreet vel. Sed non massa quis metus mattis eleifend. Fusce vitae nisl volutpat, vehicula nisi et, dapibus ipsum. Vestibulum et ultrices lorem, a ultricies dolor. Donec interdum viverra ex, non sollicitudin ante mollis sit amet. Morbi sit amet tortor nec augue convallis eleifend. Phasellus fringilla lectus ac risus congue tempor. Curabitur malesuada nunc sit amet est ultricies euismod. Duis ut augue et ligula porttitor ultricies. Morbi vel.


                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">

                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Redaction notes
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Removed paragraph relating to personal healthcare issues.
                      </dd>
                      <dd class="govuk-summary-list__actions">

                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Redacted by
                      </dt>
                      <dd class="govuk-summary-list__value">
                        James Smith
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">
                          Change<span class="govuk-visually-hidden"> status</span>
                        </a>
                      </dd>
                    </div>
                    {% endif %}
                      </dl>

                      <h2 class="govuk-heading-m">Workflow</h2>
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Redacted
                        </dt>
                        <dd class="govuk-summary-list__value">
No
                        </dd>
                        <dd class="govuk-summary-list__actions">

                        </dd>
                      </div>
                              <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                  Status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  <span class="govuk-tag govuk-tag--grey" id="list-convictions-status">Awaiting Review</span>

                                </dd>
                                <dd class="govuk-summary-list__actions">
                                  <a class="govuk-link" href="status">
                                    Change<span class="govuk-visually-hidden"> status</span>
                                  </a>
                                </dd>
                              </div>
                              </dl>



                      <form method="post" action="index">
                      <button class="govuk-button govuk-!-margin-top-3" data-module="govuk-button">
  Save and continue
</button>
</form>


</div>


    </div>






{% endblock %}
