{% extends '_layouts/layout.html' %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#project-name" id="project-name">You must enter a project name</a>
            </li>
            <li>
              <a href="#project-description" id="project-description">You must enter a project description</a>
            </li>
          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">Enter project name and description</h1>

      <form autocomplete="off" class="form" action="sector" method="post" onsubmit="return validateForm()">

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="project-name">
              What is the project name?
            </label>
            <div id="project-name-hint" class="govuk-hint">
              for example, Bridge over a very long canyon
            </div>
            <p id="project-name-error" class="govuk-error-message">
             <span class="govuk-visually-hidden">Error:</span> You must enter a project name
           </p>
            <input class="govuk-input govuk-input--width-20" name="project01[projectdetails][project-name]" id="project-name" type="text">

        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="project-description">
              Description of the project
            </label>
            <div id="project-description-hint" class="govuk-hint">
              for example, An offshore wind generating station of capacity up to 285 MW
            </div>
            <p id="project-description-error" class="govuk-error-message">
             <span class="govuk-visually-hidden">Error:</span> You must enter a project description
           </p>
            <textarea class="govuk-textarea" name="project01[projectdetails][project-description]" id="project-description" ></textarea>


        </div>

        <button class="govuk-button" data-module="govuk-button">Save & Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
