{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#project-name" id="project-sector">You must pick a sector</a>
            </li>

          </ul>
        </div>
      </div>

      <h1 class="govuk-heading-l">Choose a sector</h1>

      <form autocomplete="off" class="form" action="subsector" method="post" onsubmit="return validateForm()">
      <div class="govuk-form-group">
        <p id="where-do-you-live-error" class="govuk-error-message">
         <span class="govuk-visually-hidden">Error:</span> Select the relavant sector
       </p>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-sector" name="project01[project-sector]" type="radio" value="Business and Commercial">
          <label class="govuk-label govuk-radios__label" for="sector">
            Business & Commercial
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-sector" name="project01[project-sector]" type="radio" value="Transport">
          <label class="govuk-label govuk-radios__label" for="sector-2">
            Transport
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-sector" name="project01[project-sector]" type="radio" value="Energy">
          <label class="govuk-label govuk-radios__label" for="sector-3">
            Energy
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-sector" name="project01[project-sector]" type="radio" value="Water">
          <label class="govuk-label govuk-radios__label" for="sector-4">
            Water
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="project-sector" name="project01[project-sector]" type="radio" value="Waste">
          <label class="govuk-label govuk-radios__label" for="sector-5">
            Waste
          </label>
        </div>

      </div>
      </div>

        <button class="govuk-button" data-module="govuk-button">Save & Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
