
{% extends "layout.html" %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block minheader %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" style="background: rgba(210, 226, 241, .4);">
      <span class="govuk-heading-xl govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">Heathrow Terminal 9</span> <!-- check if swapping heading styles is ok-->
      <h1 class="govuk-caption-m ">Transport, Airports</h1> <!-- need to see if can make this dynamic based on topics selected -->
      <strong class="govuk-tag govuk-tag--green govuk-heading-s"> PRE-APPLICATION</strong>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-overview' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"> Latest Key Dates</h2>

    <ul class="govuk-body">
      <li>Anticipated submission date: Q3 2024 </li>
      <li>Anticipated submission internal: 20.21.2023 </li>
    </ul>

    <p class="govuk-body"><a href="#"> Update key dates</a> </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <table class="govuk-table">
      <h2 class="govuk-heading-m">Summary information</h2>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Case reference</th>
          <td class="govuk-table__cell">TR020007</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Application information</th>
          <td class="govuk-table__cell">Heathrow Airport <br/> contact.heathrow@fly.com <br/> 0300 123 3000</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Applicant website</th>
          <td class="govuk-table__cell">www.heathrow.com</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Project email</th>
          <td class="govuk-table__cell">NIenquiries@planninginspectorate.com</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Project page</th>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> NOT-PUBLISHED</strong> </td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body"><a href="#"> Update project infomation</a> </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

    <h2 class="govuk-heading-m"> Project Team </h2>
      <p class="govuk-body">No project members have been added yet</p>
  </div>
</div>




{% endblock %}
