{% extends '_layouts/layout-pins.html' %}

{% set projectNo = "project00" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Back Office Prototype - Testing Version
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p class="govuk-body govuk-!-font-weight-bold" style="color: #d4351c">This has not been been built into the prototype yet.</p>

      <p class="govuk-body govuk-!-font-weight-bold"><a href="javascript:history.go(-1)" class="govuk-back-link">Return to the previous page</a></p>

      


    </div>
  </div>

{% endblock %}
