{% extends '_layouts/layout-pins.html' %}

{% set projectNo = "project00" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Back Office Prototype - Testing Version
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <p class="govuk-body govuk-!-font-weight-bold"><a href="index.html">Build version can be found here</a></p>

      <h2 class="govuk-heading-m">Testing</h2>

        <p class="govuk-body govuk-!-font-weight-bold">Links</p>

        <ul class="govuk-body status">

                <li><a href="design-sprint-20/project-overview/index?project=project01">Project overview</a></li>
        </ul>


          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



    </div>
  </div>

{% endblock %}
