
{% extends '_layouts/layout-pins.html' %}
{% extends '_layouts/layout-banner.html' %}

{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% set projectNo = data['projectNo'] %}
{% if projectNo|length %}
{% else %}
{% set projectNo = "project00" %}
{% endif %}

{% block content %}

<!-- //check how many items exist -->
{% set newItem = data.project01.examtimetable.items | length + 1%}

<div class="govuk-grid-row examtimetable">

  <div class="govuk-grid-column-one-quarter">
      {% set current = 'project-timetable' %}
      {% include "../includes/vertical_tabs.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <div class="publish-error">
    {% if data.project01.examtimetable['timetable-status']%}
      {%  for item, ttitem in data.project01.examtimetable.items %}
        {% if ttitem['item-status'] == 'Changed' %}
    

         <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">Unpublished changes have been made. </h2>
          You need to republish the exam timetablefor changes to reflect on NSIPs website and may need to issue a Rule 8.(3) letter.
          </div>

        </div>
        {%endif%}
        {% if ttitem['item-status'] == 'DeletedPub' %}
       <div class="moj-banner" role="region" aria-label="information">

          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
            <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
          C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
          </svg>

          <div class="moj-banner__message">
            <h2 class="govuk-heading-s">Unpublished changes have been made. </h2>
          You need to republish the exam timetablefor changes to reflect on NSIPs website and may need to issue a Rule 8.(3) letter.
          </div>

        </div>
        {%endif%}
      {% endfor %}

    {% else %}
    <!-- do nadda -->
    {% endif %}
    </div>


    <h2 class="govuk-heading-m"> Examination Timetable</h2>

    {% if data.project01.examtimetable['timetable-status']%}
    <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> Published</strong>
    {% else %}
    <strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> Unpublished</strong>
    {% endif %}

    <p class="govuk-body">Create or manage an examination timetable</p>

    <a href="new-item/item-type?project=project01&item[]=item{{newItem}}" class="govuk-button">
      Create new timetable item
    </a>

    <br />

    {% if data.project01.examtimetable.items | length %}
      {% if "Published" in data.project01.examtimetable['timetable-status']  %}
        <a href="publish/index?project=project01" class="govuk-body">
          Preview and republish the exam timetable
        </a>
      {%else%}
      <a href="publish/index?project=project01" class="govuk-button govuk-button--secondary">
        Publish exam timetable
      </a>
      {%endif%}
    {%endif%}



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- <h3 class="govuk-heading-m">Pre-examination</h3>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

    <h3 class="govuk-heading-m">Examination</h3>



      {%  for item, ttitem in data.project01.examtimetable.items  %}

      <form autocomplete="off" class="form"  action="delete/index.html?project={{projectNo}}&item[]={{item}}" method="post" onsubmit="return validateForm(event)">

    <a id="{{item}}"></a>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-8">
      {% if ttitem['item-type'] == 'Deadline' %}
      {{ ttitem['item-end-date-day'] }}/{{ ttitem['item-end-date-month'] }}/{{ ttitem['item-end-date-year'] }} -  {{ ttitem['item-name'] }}
      {%else%}
      {{ ttitem['item-start-date-day'] }}/{{ ttitem['item-start-date-month'] }}/{{ ttitem['item-start-date-year'] }} -  {{ ttitem['item-name'] }}
      {%endif%}


</h4>
{% if ttitem['item-action'] == 'Closed' %}
<strong class="govuk-tag govuk-tag--grey govuk-heading-s govuk-!-margin-bottom-0"> Closed</strong>

{% elif ttitem['item-action'] == 'Open' %}
<strong class="govuk-tag govuk-tag--turquoise govuk-heading-s govuk-!-margin-bottom-0"> Open</strong>
{% endif %}




    <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Show
    </span>

  </summary>



      <!-- Show diff views for each item type. Refactor in future there's probs a better way to do this-->

      <!--- DEADLINE --->
      {% if ttitem['item-type'] == 'Deadline' %}
      {% include "./includes/item-deadline.html" %}
      {%endif%}


      <!--- SITE VISIT (ACCOMPANIED) --->
      {% if ttitem['item-type'] == 'Site Visit (Accompanied)' %}
      {% include "./includes/item-site-visit-accompanied.html" %}
      {%endif%}


      <!--- ISSUE SPECIFIC HEARING --->
      {% if ttitem['item-type'] == 'Issue Specific Hearing' %}
      {% include "./includes/item-issue-specific-hearing.html" %}
      {%endif%}


      <!--- ISSUE BY --->
      {% if ttitem['item-type'] == 'Issue by' %}
      {% include "./includes/item-issue-by.html" %}
      {%endif%}


      <!--- COMPULSORY AQUISITION HEARING --->
      {% if ttitem['item-type'] == 'Compulsory Acquisition Hearing' %}
        {% include "./includes/item-compulsory-aquisition-hearing.html" %}
      {%endif%}


      {% if ttitem['item-action'] == 'Closed'%}
      {% elif ttitem['item-action'] == 'In progress'%}
      {%else%}
      <button class="delete" data-module="govuk-button">
        Delete timetable item
      </button>
      {%endif%}
  </details>
</form>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% else %}
{% endfor %}

{% if "Published" in data.project01.examtimetable['timetable-status']  %}
<a href="depublish/index.html?project={{projectNo}}"> Unpublish timetable</a>
{%endif%}

  </div>
</div>




{% endblock %}
