{% extends '_layouts/layout-pins.html' %}



{% block pageTitle %}
Planning Inspectorate Applications
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters key-dates">



    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Publishing Key Dates</h1>


    <p class="govuk-body govuk-!-margin-bottom-6">
      Check dates before publishing
    </p>


     <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section govuk-accordion__section--expanded">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Pre-application
            </span>
          </h3>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">


      <dl class="govuk-summary-list govuk-!-margin-bottom-0">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application submitted (Section 55)  <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Date the application was submitted</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['preapplication']['section55-day'] }}
              {{ data[projectNo]['keydates']['preapplication']['section55-month'] }}
              {{ data[projectNo]['keydates']['preapplication']['section55-year'] }}
            </dd>
          </div>

        </dl>
      </div>
</div>

<div class="govuk-accordion__section govuk-accordion__section--expanded">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Acceptance
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">


      <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Deadline for acceptance decision <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Deadline for acceptance decision</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['deadline-decision-day'] }}/{{ data[projectNo]['keydates']['acceptance']['deadline-decision-month'] }}/{{ data[projectNo]['keydates']['acceptance']['deadline-decision-year'] }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of acceptance <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
               <span>Date application if formally accepted by PINS</span>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['acceptance-day'] }}/{{ data[projectNo]['keydates']['acceptance']['acceptance-month'] }}/{{ data[projectNo]['keydates']['acceptance']['acceptance-year'] }}
            </dd>
          </div>


           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of non-acceptance <strong class="govuk-tag govuk-tag--green govuk-heading-s govuk-!-margin-bottom-0"> visible</strong>
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data[projectNo]['keydates']['acceptance']['non-acceptance-day'] }}/{{ data[projectNo]['keydates']['acceptance']['non-acceptance-month'] }}/{{ data[projectNo]['keydates']['acceptance']['non-acceptance-year'] }}
            </dd>
          </div>


        </dl>
</div>
</div>





<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Pre-examination
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Examination
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Recommendation
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Decision
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Post-decision
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Withdrawel
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>


<div class="govuk-accordion__section ">
 <div class="govuk-accordion__section-header">
   <h3 class="govuk-accordion__section-heading">
     <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
       Non-stage dates
     </span>
   </h3>
 </div>
 <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
</div>
</div>

</div>

<form autocomplete="off" class="form" action="../index-success?project={{projectNo}}" method="post">
  <input class="govuk-input govuk-input--width-20  govuk-!-display-none" name="{{projectNo}}[keydates][itemstatus]}}" id="project-statys" type="text" value="">

      <button class="govuk-button" data-module="govuk-button" data-route="">Publish</button>

</form>


  </div>
</div>




{% endblock %}
